.details-slidebox {
  height: 50vh !important;
}

.details-photos {
  font-size: 0;
  flex-flow: row wrap; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-photos div { 
  flex: auto; 
  width: 33%;
}

.details-photos div img { 
  display: flex;
  width: 100%; 
  height: auto; 
}

.restaurant-bg-img {
  height: 50vh;
  width: 100%;
  position: relative;
}

.inner-container {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 95%;

  .padding-fix {
    padding-right: 14px;

    .favourite-icon {
      position: absolute;
      top: 9px;
      right: 0;
      font-size: 30px;
    }
  }
}

.details-text {
  margin: 17px;
}

.scroll-height {
  height: 92%;
}

.map {
  background-color: #C0C0C0;
  width: 400px;
  height: 250px;
}

.ig-spacing-fix {
  margin-bottom: 0;
  padding-bottom: 0;
}

.popover.soft {
  background-color: #f6f6f6;
}

.favourites-message {
  text-align: center;
  color: #4d4d4d;
}

.button.button-soft {
  border-color: #b2b2b2;
  background-color: #e6e6e6;
  color: #898989;
}

.carousel-image {
  .description {
    min-height: 3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 5px;
    overflow: hidden;
  }
}

.zoom-box:nth-child(2n) {
  background: transparent !important;
}
