.restaurant-card-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.restaurant-card-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.restaurant-card-header > .text-minor {
  font-size: 1.2em;
}

.restaurant-card-image {
  flex: 2;
  background-size: cover;
  width: 100%;
}

.action-bar {
  display: flex;
  width: 100%;
  background-color: rgba(0,0,0,1);
  .icon {
    font-size: 1.8em;
  }
  .action-item {
    flex: 1;
    text-align: center;
    color: white;
    padding: 4px 0;
  }
}

.restaurant-card-details {
  width: 100%;
  height: auto;
  /*min-height: 6em;*/
  padding: 10px;

  overflow: hidden;
  box-shadow: 0px -16px 10px -6px rgba(0, 0, 0, 0.4);
  background: #fff;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.restaurant-card-details > .name  {
  flex-direction: row;
  justify-content: space-between;
}

.restaurant-card-details > .description  {
  min-height: 5em;

  /* Show only a maximum 3 lines in restaurant description: */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding: 5px;
  overflow: hidden;
}

.restaurant-card-details > .status {
  padding: 0 5px;
}

.restaurant-card-details > .footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.0em;
  padding: 0 5px;

  .attribution img {
    width: 1.5em;
    height: 1.5em;
  }

  .action {
    display: flex;
  }

  .action .icon {
    font-size: 1.5em;
    margin-right: 0.3em;
    align-self: center;
  }

  .action .label {
    align-self: center;
  }
}