<ion-view view-title="Location">
	<ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
	        <button class="button button-clear icon-white" ng-click="openMapsApp()">
	        	Directions
	      	</button>
	    </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content ng-init="init()">
    	<div id="map" data-tap-disabled="true"></div>
  	</ion-content>
</ion-view>
