<ion-view view-title="{{ cuisineType || 'All Restaurants' }}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-android-close" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="cards-container" padding="true" scroll="false">

    <td-cards ng-if="cards.length && !isLoading && !apiError">
      <td-card ng-repeat="card in cards | limitTo: 1"
               on-swipe-right="prevRestaurant()"
               on-swipe-left="nextRestaurant()"
               on-partial-swipe="showSwipeHints(true)"
               on-snap-back="showSwipeHints(false)"
               on-destroy="swipeRestaurant()">
        <restaurant-card restaurant="card.taggedRestaurant"
                         current-location="criteria.ll"
                         ui-sref="tab.details({venueId: card.taggedRestaurant.foursquareId,
                         card: card,
                         restaurant: card.taggedRestaurant})">
        </restaurant-card>
      </td-card>
    </td-cards>

    <div class="cards-hint row">
      <div class="text-minor">
        <div ng-if="isShowingHints">
          <i class="icon ion-arrow-left-a">
          </i>
          Next
        </div>
      </div>

      <div class="text-minor">
        <div ng-if="isShowingHints" style="text-align: right">
          Last
          <i class="icon ion-arrow-right-a">
          </i>
        </div>
      </div>
    </div>

    <div class="row row-center" ng-if="backdropMessage">
      <div class="col-80 col-offset-10 text-centered">
        <i ng-class="backdropIcon" class="icon message-icon"></i>

        <p>{{backdropMessage}}</p>
        <br>
        <button class="button button-assertive" ui-sref="tab.search">Back to Search</button>
      </div>
    </div>

  </ion-content>
</ion-view>
