<ion-view view-title="Home">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>

  <ion-content delegate-handle="dash-content">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide back-img="https://placehold.it/300x150/FAFAFA/000000?text=Kiwii+Guides"
                 ng-click="openWebsite('http://kiwiiguides.com')">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/4465F8/000000?text=Feature+2">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Feature+3">
      </ion-slide>
    </ion-slide-box>
    <div class="padding-horizontal">
      <h4 class="text-orange">Near You</h4>
      <scroll-list
        ng-model="nearbyRestaurants"
        items-method="findRestaurantsNearby"
        scroll-delegate="nearby-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="restaurant in nearbyRestaurants"
          ng-click="$state.go('tab.details', {venueId: restaurant.foursquareId, restaurant: restaurant})"
          title="{{::restaurant.name}}"
          subtitle="{{::restaurant.category}}"
          image-url="{{::restaurant.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      <!--</scroll-list>-->

      <h4 class="text-orange">Recently Viewed Restaurants</h4>
      <scroll-list
        ng-model="recentlyViewedRestaurants"
        items-method="getRecentlyViewedRestaurants"
        scroll-delegate="recently-viewed-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="record in recentlyViewedRestaurants"
          ng-click="$state.go('tab.details',{venueId: record.restaurant.foursquareId, card: record.card, restaurant: record.restaurant})"
          title="{{::record.restaurant.name}}"
          subtitle="{{::record.restaurant.category}}"
          image-url="{{::record.card.photos[0].photo.url() || record.restaurant.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <h4 class="text-orange">Your Cards</h4>
      <scroll-list
        ng-model="userCards"
        items-method="getUserCards"
        scroll-delegate="user-cards-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="card in userCards"
          ng-click="$state.go('tab.details', {venueId: card.taggedRestaurant.attributes.foursquareId, card: card, restaurant: card.taggedRestaurant})"
          title="{{::card.taggedRestaurant.attributes.name}}"
          subtitle="{{::card.taggedRestaurant.attributes.category}}"
          image-url="{{::card.photos[0].photo.url() || card.taggedRestaurant.attributes.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <button
        class="button button-block button-assertive search-button"
        ng-click="$state.go('tab.search')">
        <strong>Explore Restaurants</strong>
      </button>
    </div>
  </ion-content>
</ion-view>
