<ion-view view-title="Home">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>

  <ion-content delegate-handle="dash-content">

    <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->

    <ion-slide-box show-pager="true" class="dash-feature">
      <ion-slide darken-slider back-img="https://placehold.it/300x150/4465F8/000000">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/FAFAFA/000000?text=Kiwii+Guides"
                 ng-click="::openWebsite('http://kiwiiguides.com')">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Feature+3">
      </ion-slide>
    </ion-slide-box>

    <!-- Search and nearby -->
    <div class="list" style="margin-bottom: 0;">
      <a class="item item-icon-left" href="#/tab/search">
        <i class="icon ion-search assertive"></i>
        <h2>Quick Search</h2>
        <p>Don't know where to eat? Find a place in seconds!</p>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-location assertive"></i>
        <h2>Nearby Restaurants</h2>
        <p>Discover all the restaurant near you.</p>
      </a>
    </div>

    <!-- Kiwii Guides Featured -->
    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide darken-slider 
                 back-img="{{kiwiiFeaturedList.attributes.thumbnailUrl || 'https://placehold.it/300x150/33F25A/000000'}}"
                 ng-click="listDetails(kiwiiFeaturedList)">
        <div style="position: absolute;
                    bottom: 0;
                    color: white;
                    padding: 10px;">
          <p style="font-size: 1.8em; font-weight: bold;">Kiwii Guides</p>
          <p style="font-size: 1.2em">Latest Reviewed Restaurants</p>
          <p style="font-size: 1.2em">{{kiwiiFeaturedCards.length}} Restaurants</p>
        </div>
      </ion-slide>
      <ion-slide ng-repeat="card in kiwiiFeaturedCards" 
                 back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'https://placehold.it/300x150/0C79E8/000000?text=No+Image'}}"
                 ng-click="restaurantDetails(card)">
        <div class="restaurant-card-details" 
             style="position: absolute;
                    bottom: 0;
                    box-shadow: none;
                    color: white;
                    background-color: rgba(0,0,0,0.5);">
          <div class="row name">
            <div id="restaurant-name" style="font-weight: bold;">{{card.taggedRestaurant.name}}</div>
            <div>
              <i class="icon ion-star"></i>
              {{card.taggedRestaurant.rating}}/10
            </div>
          </div>
          <div class="status">
            {{card.taggedRestaurant.hours.status}}
          </div>
          <div class="footer">
            <div class="action">
              <div class="label">
                {{card.taggedRestaurant.category}} · 200 Photos · 100 Reviews
              </div>
            </div>
            <div class="attribution">
              <img ng-src="{{card.author.fbPicture || './img/foursquare-logomark.png'}}"/>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide darken-slider back-img="https://placehold.it/300x150/FF530D/000000">
        <div style="position: absolute;
                    bottom: 0;
                    color: white;
                    padding: 10px;">
          <p style="font-size: 1.8em; font-weight: bold;">Japanese</p>
          <p style="font-size: 1.2em">Popular Cuisine List</p>
        </div>
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/FAFAFA/000000?text=Restaurant+1">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Restaurant+2">
      </ion-slide>
    </ion-slide-box>
    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide darken-slider back-img="https://placehold.it/300x150/FF0DFF/000000">
        <div style="position: absolute;
                    bottom: 0;
                    color: white;
                    padding: 10px;">
          <p style="font-size: 1.8em; font-weight: bold;">Food Trucks</p>
          <p style="font-size: 1.2em">Popular Cuisine List</p>
        </div>
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/FAFAFA/000000?text=Restaurant+1">
      </ion-slide>
      <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Restaurant+2">
      </ion-slide>
    </ion-slide-box>

    <!-- 2 Featured Restaurants -->
    <div style="border-bottom: 1.5px black solid;">
      <ion-slide-box show-pager="false" class="dash-restaurant">
        <ion-slide back-img="https://placehold.it/300x150/2CE80C/000000?text=Photo+0">      
        </ion-slide>
        <ion-slide back-img="https://placehold.it/300x150/FF0DFF/000000?text=Photo+1">
        </ion-slide>
        <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Photo+2">
        </ion-slide>
      </ion-slide-box>
      <div class="restaurant-card-details">
        <div class="row name">
          <div id="restaurant-name" style="font-weight: bold;">Name</div>
          <div>
            <i class="icon ion-star text-orange"></i>
            10/10
          </div>
        </div>
        <div class="status text-minor">
          Open till 10pm
        </div>
        <div class="footer">
          <div class="action text-minor">
            <div class="label">
              Category · 200 Photos · 100 Reviews
            </div>
          </div>
          <div class="attribution">
            <img ng-src="./img/foursquare-logomark.png"/>
          </div>
        </div>
      </div>
    </div>
    <div style="border-bottom: 1.5px black solid;">
      <ion-slide-box show-pager="false" class="dash-restaurant">
        <ion-slide back-img="https://placehold.it/300x150/0C79E8/000000?text=Photo+0">      
        </ion-slide>
        <ion-slide back-img="https://placehold.it/300x150/FF0DFF/000000?text=Photo+1">
        </ion-slide>
        <ion-slide back-img="https://placehold.it/300x150/33F25A/000000?text=Photo+2">
        </ion-slide>
      </ion-slide-box>
      <div class="restaurant-card-details">
        <div class="row name">
          <div id="restaurant-name" style="font-weight: bold;">Name</div>
          <div>
            <i class="icon ion-star text-orange"></i>
            10/10
          </div>
        </div>
        <div class="status text-minor">
          Open till 10pm
        </div>
        <div class="footer">
          <div class="action text-minor">
            <div class="label">
              Category · 200 Photos · 100 Reviews
            </div>
          </div>
          <div class="attribution">
            <img ng-src="./img/foursquare-logomark.png"/>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="padding-horizontal">
      <h4 class="text-orange">Near You</h4>
      <scroll-list
        ng-model="nearbyRestaurants"
        items-method="findRestaurantsNearby"
        scroll-delegate="nearby-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="restaurant in nearbyRestaurants | limitTo:10"
          ng-click="::$state.go('tab.details', {venueId: restaurant.foursquareId, restaurant: restaurant})"
          title="{{::restaurant.name}}"
          subtitle="{{::restaurant.category}}"
          image-url="{{::restaurant.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <h4 class="text-orange">Recently Viewed Restaurants</h4>
      <scroll-list
        ng-model="recentlyViewedRestaurants"
        items-method="getRecentlyViewedRestaurants"
        scroll-delegate="recently-viewed-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="record in recentlyViewedRestaurants | limitTo:10"
          ng-click="::$state.go('tab.details',{venueId: record.restaurant.foursquareId, card: record.card, restaurant: record.restaurant})"
          title="{{::record.restaurant.name}}"
          subtitle="{{::record.restaurant.category}}"
          image-url="{{::record.card.photos[0].photo.url() || record.restaurant.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <h4 class="text-orange">Your Cards</h4>
      <scroll-list
        ng-model="userCards"
        items-method="getUserCards"
        scroll-delegate="user-cards-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="card in userCards | limitTo:10"
          ng-click="::$state.go('tab.details', {venueId: card.taggedRestaurant.attributes.foursquareId, card: card, restaurant: card.taggedRestaurant})"
          title="{{::card.taggedRestaurant.attributes.name}}"
          subtitle="{{::card.taggedRestaurant.attributes.category}}"
          image-url="{{::card.photos[0].photo.url() || card.taggedRestaurant.attributes.imageUrl}}"
          fallback-image-url="https://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <button
        class="button button-block button-assertive search-button"
        ng-click="::$state.go('tab.search')">
        <strong>Explore Restaurants</strong>
      </button>
    </div> -->
  </ion-content>
</ion-view>
