<div class="modal">
  <ion-header-bar class="bar bar-header bar-assertive" style="background-color: #ffa300;">
    <a class="button button-icon button-clear ion-android-close" ng-click="modal.hide()"></a>

    <h1 class="title">Add to List</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="list">
      <a class="item item-thumbnail-left">
        <img
          ng-src="{{ restaurantDetails.bestPhoto.prefix + '500x500' + restaurantDetails.bestPhoto.suffix || 'http://placehold.it/95x95?text=Kiwii' }}">

        <div class="col-90">
          <p class="restaurant-name"><strong>{{restaurantDetails.name}}</strong></p>

          <p class="restaurant-category">{{restaurantDetails.categories[0].shortName}}</p>

          <p class="restaurant-rating" ng-if="restaurantDetails.rating">{{restaurantDetails.rating}}/10</p>
        </div>
      </a>

      <div class="list">
        <div class="item item-divider" style="font-weight: 200; font-size: 14px;">
          All lists
        </div>
        <a class="item item-thumbnail-left"
           ng-repeat="userList in userLists"
           ng-click="saveToList(userList)">
          <img ng-src="{{ userList.attributes.thumbnailUrl || 'http://placehold.it/95x95?text=Kiwii' }}">

          <p class="restaurant-name"><strong>{{userList.attributes.name}}</strong></p>

          <p class="restaurant-category">{{userList.attributes.category}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</div>