<ion-view view-title="{{ cuisineType || 'All Restaurants' }}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-android-close" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" scroll="false">

    <td-cards ng-if="restaurants.length && !isLoading && !apiError">
      <td-card ng-repeat="restaurant in restaurants | limitTo: 1"
               on-swipe-right="prevRestaurant()"
               on-swipe-left="nextRestaurant()"
               on-partial-swipe="showSwipeHints(true)"
               on-snap-back="showSwipeHints(false)"
               on-destroy="swipeRestaurant()">
        <restaurant-card restaurant="restaurant"
                         current-location="criteria.ll"
                         ng-click="restaurantDetails(restaurant)">
        </restaurant-card>
      </td-card>
    </td-cards>

    <div class="cards-hint row">
      <div class="text-minor">
        <div ng-if="isShowingHints">
          <i class="icon ion-arrow-left-a">
          </i>
          Next
        </div>
      </div>

      <div class="text-minor">
        <div ng-if="isShowingHints" style="text-align: right">
          Last
          <i class="icon ion-arrow-right-a">
          </i>
        </div>
      </div>
    </div>

    <div class="row row-center" ng-if="!restaurants.length && !isLoading && !apiError">
      <div class="col-80 col-offset-10 text-centered">
        <i class="icon ion-android-search calm messageIcon"></i>

        <p>We can't find any restaurants within the criteria you specified!</p>
        <br>
        <button class="button button-assertive" ng-click="returnToDash()">Update Criteria</button>
      </div>
    </div>

    <div class="row row-center" ng-if="apiError">
      <div class="col-80 col-offset-10 text-centered">
        <i class="icon ion-sad-outline messageIcon"></i>

        <p>Sorry, something went wrong! Try making a search again.</p>
        <br>
        <button class="button button-assertive" ng-click="returnToDash()">Try Again</button>
      </div>
    </div>

  </ion-content>
</ion-view>
