<ion-view view-title="{{ cardTitle }}">
  <ion-nav-bar ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-close" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" scroll="false">
    <div class="assertive" ng-if="cuisineType != ''" style="text-align: center; font-size: 18px; padding-bottom:20px"> 
      <u>{{ cuisineType }}</u> Restaurants
    </div>
    <td-cards ng-if="shows.length">
        <td-card ng-repeat="show in shows | limitTo: 1 track by show.id"
                 on-destroy="destroyShow($index)"
                 my-on-swipe-right="likedShow($index)"
                 my-on-swipe-left="dislikedShow($index)">
          <show-card show="show"></show-card>
        </td-card>
      </td-cards>
  </ion-content>
</ion-view>
