<ion-view view-title="Home">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>

  <ion-content delegate-handle="dash-content">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide back-img="http://placehold.it/300x150/FA4D54/000000?text=Feature1">
      </ion-slide>
      <ion-slide back-img="http://placehold.it/300x150/4465F8/000000?text=Feature2">
      </ion-slide>
      <ion-slide back-img="http://placehold.it/300x150/33F25A/000000?text=Feature3">
      </ion-slide>
    </ion-slide-box>
    <div class="padding-horizontal">
      <h4 class="text-orange">Near You</h4>
      <scroll-list
        ng-model="nearbyRestaurants"
        items-method="findRestaurantsNearby"
        scroll-delegate="nearby-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="restaurant in nearbyRestaurants"
          ui-sref="tab.details({venueId: restaurant.foursquareId})"
          title="{{restaurant.name}}"
          subtitle="{{restaurant.category}}"
          image-url="{{restaurant.imageUrl}}"
          fallback-image-url="http://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <h4 class="text-orange">Saved For Later</h4>
      <scroll-list
        ng-model="savedRestaurants"
        items-method="getSavedForLater"
        scroll-delegate="saved-restaurants-scroll"
        parent-scroll-delegate="dash-content">
        <micro-card
          ng-repeat="restaurant in savedRestaurants"
          ui-sref="tab.details({venueId: restaurant.foursquareId})"
          title="{{restaurant.name}}"
          subtitle="{{restaurant.category}}"
          image-url="{{restaurant.imageUrl}}"
          fallback-image-url="http://placehold.it/100x100?text=Kiwii">
        </micro-card>
      </scroll-list>

      <!--<h4 class="text-orange">Near You</h4>-->
      <!--<ion-scroll class="micro-card-list"-->
      <!--direction="x"-->
      <!--scrollbar-x="false"-->
      <!--horizontal-scroll-fix="dash-content"-->
      <!--delegate-handle="nearby-restaurants-scroll">-->
      <!--<ion-spinner class="dash-loading-list"-->
      <!--ng-if="!nearbyRestaurants">-->
      <!--</ion-spinner>-->
      <!--<micro-card-->
      <!--ng-if="nearbyRestaurants"-->
      <!--ng-repeat="restaurant in nearbyRestaurants"-->
      <!--ui-sref="tab.details({venueId: restaurant.foursquareId})"-->
      <!--title="{{restaurant.name}}"-->
      <!--subtitle="{{restaurant.category}}"-->
      <!--image-url="{{restaurant.imageUrl}}"-->
      <!--fallback-image-url="http://placehold.it/100x100?text=Kiwii">-->
      <!--</micro-card>-->
      <!--</ion-scroll>-->

      <!--<h4 class="text-orange">From Your List</h4>-->
      <!--<ion-spinner class="dash-loading-list"-->
      <!--ng-if="!savedRestaurants">-->
      <!--</ion-spinner>-->
      <!--<div class="dash-list-curtain" ng-if="savedRestaurants.length <= 0">-->
      <!--No Restaurants Found-->
      <!--</div>-->
      <!--<ion-scroll class="micro-card-list"-->
      <!--direction="x"-->
      <!--scrollbar-x="false"-->
      <!--horizontal-scroll-fix="dash-content"-->
      <!--delegate-handle="saved-restaurants-scroll">-->
      <!--<micro-card-->
      <!--ng-if="savedRestaurants"-->
      <!--ng-repeat="restaurant in savedRestaurants"-->
      <!--ui-sref="tab.details({venueId: restaurant.foursquareId})"-->
      <!--title="{{restaurant.name}}"-->
      <!--subtitle="{{restaurant.category}}"-->
      <!--image-url="{{restaurant.imageUrl}}"-->
      <!--fallback-image-url="http://placehold.it/100x100?text=Kiwii">-->
      <!--</micro-card>-->
      <!--</ion-scroll>-->

      <button
        ui-sref="tab.search"
        class="button button-block button-assertive search-button"
        ng-click="goToSearch()">
        <strong>Explore Restaurants</strong>
      </button>
    </div>
  </ion-content>
</ion-view>