<!--TODO: Fix for vertical scrolling of ion-content inside horizontal scroll boxes-->
<!--http://codepen.io/rajeshwarpatlolla/pen/xGWBja?editors=101-->

<ion-view view-title="Home">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>

  <ion-content>
    <ion-slide-box show-pager="false" class="dash-feature">
      <ion-slide back-img="http://placehold.it/300x150/FA4D54/000000?text=Feature1">
      </ion-slide>
      <ion-slide back-img="http://placehold.it/300x150/4465F8/000000?text=Feature2">
      </ion-slide>
      <ion-slide back-img="http://placehold.it/300x150/33F25A/000000?text=Feature3">
      </ion-slide>
    </ion-slide-box>
    <div class="padding-horizontal">
      <h4 class="text-orange">Near You</h4>
      <ion-scroll direction="x" class="micro-card-list padding-bottom">
        <restaurant-micro-card
          restaurant="{image: 'http://placehold.it/100x100?text=Kiwii',
                       name: 'Some Restaurant With a Really Long Long Name',
                       type: 'A Genre'}">
        </restaurant-micro-card>

        <restaurant-micro-card
          restaurant="{image: 'http://placehold.it/100x100?text=Kiwii',
                       name: 'A Restaurant',
                       type: 'Testing'}">
      </ion-scroll>

      <h4 class="text-orange">From Your List</h4>
      <ion-scroll direction="x" class="micro-card-list padding-bottom">
        <restaurant-micro-card
          ng-repeat="restaurant in myList"
          restaurant="restaurant">
        </restaurant-micro-card>
      </ion-scroll>

      <hr>

      <button class="button button-block button-assertive">
        Explore Restaurants
      </button>


    </div>
  </ion-content>
</ion-view>