<ion-view cache-view="false"  view-title="">
	<ion-nav-bar ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left icon-white" ng-click="goBack()"></a>
	    </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <user-info></user-info>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content style="top: 0 !important;">
        <div style="height: 50vh; width: 100%; position: absolute" darken back-img="{{restaurantDetails.bestPhoto.prefix + '500x500' + restaurantDetails.bestPhoto.suffix || 'img/image_placeholder.gif' }}">
            <div style="color: #ffffff; position: absolute; bottom: 0; padding: 20px; width: 95%;">
                <div style="padding-right: 14px;">
                    <div class="title">{{ restaurantDetails.name }}</div>
                    <a class="button button-icon button-clear icon-white" 
                       ng-class="{'ion-ios-star': isFavourite, 'ion-ios-star-outline': !isFavourite}" 
                       ng-click="toggleFavourite($event)" 
                       style=" position: absolute; top: 14px; right: 0; font-size: 30px;">
                    </a>
                </div>
                <div class="subtext">{{ restaurantDetails.categories[0].shortName }}</div>
                <div class="subtext" ng-if="restaurantDetails.price.tier == 1">Price: $ ({{ restaurantDetails.price.message }})</div>
                <div class="subtext" ng-if="restaurantDetails.price.tier == 2">Price: $$ ({{ restaurantDetails.price.message }})</div>
                <div class="subtext" ng-if="restaurantDetails.price.tier == 3">Price: $$$ ({{ restaurantDetails.price.message }})</div>
                <div class="subtext" ng-if="restaurantDetails.price.tier == 4">Price: $$$$ ({{ restaurantDetails.price.message }})</div>
                <div class="subtext" ng-if="restaurantDetails.rating != null">{{ restaurantDetails.rating }}/10</div>

                <br/>

                <div>{{ restaurantDetails.hours.status }}</div>
            </div>
        </div>

        <div class="details-container">
            <ion-slide-box slide-tabs-scrollable="false" show-pager="false" on-slide-changed="slideChanged()" ion-slide-tabs>
                <ion-slide class="slide" dynamic-height ion-slide-tab-label="Info">
                    <ion-scroll style="height:300px">
                    <div class="slide-box box">
                        <div class="item item-image" ng-click="goToMaps()" style="background-color: #C0C0C0; width: 400px; height: 250px;">
                            <img src="https://api.tiles.mapbox.com/v4/cyberkronos.kjdbl1id/pin-l-restaurant+F52636({{ restaurantDetails.location.lng }},{{ restaurantDetails.location.lat }})/{{ restaurantDetails.location.lng }},{{ restaurantDetails.location.lat }},17/400x250.png?access_token=pk.eyJ1IjoiY3liZXJrcm9ub3MiLCJhIjoia3RMOFJ5byJ9.Nvqs957NLHa4w5eV1IcjmQ">
                        </div>
                        <div class="details-text">
                            <p>
                                {{ restaurantDetails.location.formattedAddress[0] }}
                                <br/>
                                {{ restaurantDetails.location.formattedAddress[1] }}
                            </p>
                            <p> 
                                {{ restaurantDetails.contact.formattedPhone }}
                                <br/>
                                <u ng-if="restaurantDetails.url" 
                                   ng-click="openWebsite(restaurantDetails.url)">
                                   {{ restaurantDetails.url }}
                                </u>
                            </p>
                            <p ng-if="restaurantDetails.description"  
                               style="font-style: italic;">
                               "{{ restaurantDetails.description }}"
                            </p>

                            <button class="button button-block button-assertive" 
                                    ng-if="restaurantDetails.menu.mobileUrl"
                                    ng-click="openWebsite(restaurantDetails.menu.mobileUrl)">
                                Menu
                            </button>

                            <button class="button button-block button-assertive" 
                                    ng-if="restaurantDetails.reservations.url"
                                    ng-click="openWebsite(restaurantDetails.reservations.url)">
                                Make a reservation
                            </button>
                        </div>
                    </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide class="slide" ion-slide-tab-label="Instagram">
                    <ion-scroll style="height:300px">
                    <div class="slide-box box">
                        <div class="list" ng-repeat="pic in instagramImages" 
                                          style="margin-bottom: 0; padding-bottom: 0;">
                            <div class="item item-image">
                                <img src="{{ pic.images.standard_resolution.url }}"/>
                            </div>
                            <div ng-if="pic.caption != null" class="item item-body">
                                {{ pic.caption.text }}
                            </div>
                        </div>
                    </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide class="slide" ion-slide-tab-label="Reviews">
                    <ion-scroll style="height:300px">
                    <div class="slide-box box">
                        <ul class="list">
                            <li class="item" ng-repeat="tip in restaurantReviews" style="white-space: normal;"> 
                                <div>
                                    {{ tip.text }} - {{ tip.user.firstName }} {{ tip.user.lastName }}
                                </div>
                                <br/>
                                <div>
                                    <strong>{{ tip.likes.count }} Likes</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ion-scroll></ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>