<ion-view cache-view="false" view-title="{{restaurantDetails.name || 'Restaurant Details'}}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false" has-bouncing="false">

    <nav mfb-menu position="br" effect="zoomin" label="Actions"
         active-icon="ion-plus-round" resting-icon="ion-plus-round"
         toggling-method="click">
      <button mfb-button icon="ion-ios-list" label="Add Card"
              ng-click="openAddCardModal()"></button>
      <button mfb-button icon="ion-star" label="Rate"
              ng-click="openRatingModal()"></button>
    </nav>

    <ion-slide-box slide-tabs-scrollable="false" show-pager="false" on-slide-changed="slideChanged()" ion-slide-tabs>
      <ion-slide class="slide" dynamic-height ion-slide-tab-label="Info">
        <ion-scroll class="scroll-height">
          <div class="slide-box box">
            <div class="restaurant-bg-img" darken
                 back-img="{{restaurantDetails.bestPhoto.prefix + '500x500' + restaurantDetails.bestPhoto.suffix || 'img/image_placeholder.gif' }}">
              <div class="inner-container">
                <div class="padding-fix">
                  <div class="title">{{ restaurantDetails.name }}</div>
                  <a class="button button-icon button-clear icon-white ion-plus favourite-icon"
                     ng-click="addToList()">
                  </a>
                </div>
                <div class="subtext">{{ restaurantDetails.categories[0].shortName }}</div>
                <div class="subtext" ng-if="restaurantDetails.price.tier">Price:
                  {{'$'.repeat(restaurantDetails.price.tier)}} ({{ restaurantDetails.price.message }})
                </div>
                <div class="subtext" ng-if="restaurantDetails.rating != null">
                  Rating: {{ restaurantDetails.rating }}/10
                </div>

                <br/>

                <div>{{ restaurantDetails.hours.status }}</div>
              </div>
            </div>

            <div class="list">
              <div class="item item-divider" style="font-weight:normal;">
                Quick Order
              </div>
              <div ng-repeat="item in quickOrder" style="padding:10px 9px 0 9px; float: left;" class="col col-33">
                <div ui-sref="tab.profile">
                  <div style="background-image:url( {{ item.photo }} );
                              background-repeat:no-repeat;
                              background-size:contain; 
                              background-position:center;
                              width:100%;
                              height:0;
                              padding-top:100%;
                              border-radius: 6px;">
                  </div>
                  <p style="overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0 4px;
                            color: #4D4D4D;
                            font-size: 9pt;">
                    {{ item.name }}
                  </p>
                </div>
              </div>

              <div class="item item-divider" style="font-weight:normal; width: 100%;">
                Address
              </div>
              <div class="item" style="font-size: 14px; width: 100%;">
                {{ restaurantDetails.location.formattedAddress[0] }}
                <br/>
                {{ restaurantDetails.location.formattedAddress[1] }}
              </div>
              <div class="item item-image map" ui-sref="tab.maps({venueId: restaurantDetails.id})">
                <img
                  ng-src="https://api.tiles.mapbox.com/v4/cyberkronos.kjdbl1id/pin-l-restaurant+F52636({{ restaurantDetails.location.lng }},{{ restaurantDetails.location.lat }})/{{ restaurantDetails.location.lng }},{{ restaurantDetails.location.lat }},15/400x250.png?access_token=pk.eyJ1IjoiY3liZXJrcm9ub3MiLCJhIjoia3RMOFJ5byJ9.Nvqs957NLHa4w5eV1IcjmQ">
              </div>

              <div class="item item-divider" style="font-weight:normal;">
                Details
              </div>

              <div ng-if="restaurantDetails.contact.formattedPhone" class="details-text">
                <p>
                  <strong>Phone</strong>
                  {{ restaurantDetails.contact.formattedPhone }}
                </p>

                <p>
                  <strong>Website</strong>
                  <u ng-if="restaurantDetails.url"
                     ng-click="openWebsite(restaurantDetails.url)">
                    {{ restaurantDetails.url }}
                  </u>
                </p>

                <p ng-repeat="attribute in detailsAttributes"
                   ng-if="attribute.name != attribute.value">
                  <strong>{{ attribute.name }}</strong>
                  {{ attribute.value }}
                </p>

                <p ng-if="restaurantDetails.description">
                  <strong>Description</strong>
                  <br/>
                  {{ restaurantDetails.description }}
                </p>

                <button class="button button-block button-assertive"
                        ng-if="restaurantDetails.menu.mobileUrl"
                        ng-click="openWebsite(restaurantDetails.menu.mobileUrl)">
                  <strong>Menu</strong>
                </button>

                <button class="button button-block button-assertive"
                        ng-if="restaurantDetails.reservations.url"
                        ng-click="openWebsite(restaurantDetails.reservations.url)">
                  <strong>Make a reservation</strong>
                </button>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
      <ion-slide class="slide" ion-slide-tab-label="Instagram">
        <ion-scroll class="scroll-height">
          <div class="slide-box box">
            <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <div class="list ig-spacing-fix" ng-repeat="pic in instagramImages">
              <div class="item item-image">
                <img ng-src="{{ pic.images.standard_resolution.url }}"/>
              </div>
              <div ng-if="pic.caption != null" class="item item-body">
                <p>
                  {{ pic.caption.text }}
                </p>

                <p>
                  <a href="" class="subdued">{{ pic.likes.count }} Likes</a>
                  <a href="" class="subdued">{{ pic.comments.count }} Comments</a>
                </p>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
      <ion-slide class="slide" ion-slide-tab-label="Reviews">
        <ion-scroll class="scroll-height">
          <div class="slide-box box">
            <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <ul class="list">
              <li class="item" ng-repeat="tip in restaurantReviews" style="white-space: normal;">
                <div>
                  {{ tip.text }} - {{ tip.user.firstName }} {{ tip.user.lastName }}
                </div>
                <br/>

                <div>
                  <strong>{{ tip.likes.count }} Likes</strong>
                </div>
              </li>
            </ul>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>