<ion-view view-title="Find New Kiwiiers">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true">
    <div class="list card">
      <a class="item item-avatar item-button-right" href="#"
         ng-repeat="user in suggestedUsers">
        <img ng-src="{{ user.userObject.attributes.fbPicture || 'http://placehold.it/95x95?text=Kiwii'}}">
        <h2 style="margin-top: 10px;">{{user.name}}</h2>
        <button class="button button-small button-outline button-assertive"
                ng-click="followUser(user.userObject)"
                style="margin-top: 10px;">
          Follow
        </button>

        <!-- <button class="button button-small button-outline button-assertive"
                ng-click="unfollowUser(user.userObject)"
                style="margin-top: 10px;">
          unFollow
        </button> -->
      </a>
    </div>
  </ion-content>
</ion-view>
