<div class="modal">
  <ion-header-bar class="bar bar-header bar-assertive" style="background-color: #ffa300;">
    <a class="button button-icon button-clear ion-android-close" ng-click="modal.hide()"></a>
    <h1 class="title" style="line-height: 32px;">Post a Photo</h1>
    <a class="button button-icon button-clear" ng-click="postPhoto()">Done</a>
  </ion-header-bar>
  <ion-content scroll="false">
  	<div class="list">
  		<a class="item item-thumbnail-left" style="padding: 4px 4px 4px 102px;">
	      <!-- <img src="cover.jpg"> -->
	      <img src="{{ imgURI || 'http://placehold.it/95x95' }}">
	      <textarea placeholder="Write a description..." 
                  style="width: 100%; height: 92px; resize: none;" 
                  ng-model="imagePost.description"></textarea>
	    </a>
    	<label class="item item-input">
      	<i class="icon ion-pricetag placeholder-icon"></i>
      	<input type="text" placeholder="Restaurant Name" ng-model="imagePost.name">
    	</label>
    	<label class="item item-input">
        <i class="icon ion-ios-list placeholder-icon"></i>
        <input type="text" placeholder="List Name" ng-model="imagePost.list">
    	</label>
  	</div>
  </ion-content>
</div>