<ion-view view-title="Newsfeed">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>

  <ion-content has-bouncing="false" delegate-handle="dash-content">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="list">
      <a class="item item-icon-left item-icon-right text-minor" href="#/tab/discoverUsers">
        <i class="icon ion-person-stalker"></i>
        Discover new users
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <div class="item item-divider" style="min-height: 0;"></div>

      <div class="scroll-list-curtain" ng-if="showLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div ng-repeat="feedItem in newsFeed" ng-if="feedItem.verb != 'follow' && !showLoading">
        <div class="item item-avatar">
          <img ng-src="{{ feedItem.actor_parse.attributes.fbPicture || 'http://placehold.it/95x95'}}"
               ng-click="viewProfile(feedItem.actor_parse)"
               style="border-radius: 10%;">

          <p ng-click="viewProfile(feedItem.actor_parse)">
            {{ feedItem.actor_parse.attributes.firstname }} {{ feedItem.actor_parse.attributes.lastname }}
          </p>

          <p ng-if="feedItem.verb == 'listUpdate'">
            added
            <span ui-sref="tab.details({venueId: feedItem.object_parse.attributes.foursquareId})"
                  class="text-orange">
              {{ feedItem.object_parse.attributes.name }}
            </span>
            to
            <span class="text-orange" ng-click="goToList(feedItem.target_parse)">{{ feedItem.target_parse.attributes.name }}</span>
          </p>

          <p ng-if="feedItem.verb == 'list'">
            created a new list: 
            <span class="text-orange" ng-click="goToList(feedItem.object_parse)">
              {{ feedItem.object_parse.attributes.name }}
            </span>
          </p>

          <p ng-if="feedItem.verb == 'card'"
             ui-sref="tab.details({venueId: feedItem.object_parse.attributes.taggedRestaurant.attributes.foursquareId})"
             class="text-orange">
            {{ feedItem.object_parse.attributes.taggedRestaurant.attributes.name }}
          </p>

          <p style="position: absolute; right: 12px; top: 16px;" am-time-ago="feedItem.time"></p>
        </div>

        <div ng-if="feedItem.verb == 'card' || feedItem.verb == 'listUpdate'" class="item item-image">
          <img ng-src="{{ feedItem.object_parse.attributes.photos[0].attributes.photo._url || feedItem.object_parse.attributes.imageUrl || 'http://placehold.it/200x200'}}">
        </div>

        <div class="item item-body" ng-if="feedItem.verb == 'card'">
          <p>
            {{ feedItem.object_parse.attributes.photos[0].attributes.description }}
          </p>
        </div>

        <div class="item item-divider" style="min-height: 0;"></div>
      </div>

  </ion-content>
</ion-view>
