<ion-view view-title="Followers">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" scroll="true">
    <div class="list card">
      <a class="item item-avatar item-button-right" href="#"
         ng-repeat="user in followers">
        <img ng-src="{{ user.attributes.actor.attributes.fbPicture || 'http://placehold.it/95x95?text=Kiwii'}}">
        <h2 style="margin-top: 10px;">
          {{user.attributes.actor.attributes.firstname}} {{user.attributes.actor.attributes.lastname}}
        </h2>
      </a>
    </div>
  </ion-content>
</ion-view>
