<ion-view view-title="Following">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  	<ion-content scroll="false" has-bouncing="false"> 
        <ion-slide-box slide-tabs-scrollable="false" show-pager="false" on-slide-changed="slideChanged()" ion-slide-tabs>
            <ion-slide class="slide" dynamic-height ion-slide-tab-label="People">
                <ion-scroll class="scroll-height">
                    <div class="slide-box box">
                        <div class="list card">
						    <a class="item item-avatar item-button-right" href="#"
						       ng-repeat="user in following">
								<img ng-src="{{ user.attributes.object.attributes.fbPicture || 'http://placehold.it/95x95?text=Kiwii'}}">
								<h2 style="margin-top: 10px;">{{user.attributes.object.attributes.firstname}} {{user.attributes.object.attributes.lastname}}</h2>
								<button class="button button-small button-assertive"
										ng-click="unfollowUser(user.attributes.object, $index)"
										style="margin-top: 10px;">
									Following
								</button>
						    </a>
						</div>
					</div>
                </ion-scroll>
            </ion-slide>
            <ion-slide class="slide" ion-slide-tab-label="Lists">
                <ion-scroll class="scroll-height">
	                <div class="slide-box box">
	                	<div class="list card">
			              <a class="item item-thumbnail-left" ng-click="listDetails(userList)">
			                <img ng-src="{{'http://placehold.it/95x95?text=Kiwii'}}" width="100%" height="100%">
			                <div class="row row-center">
			                  <div class="col-80">
			                    <p id="restaurant-name"><strong>Name</strong></p>
			                    <p id="restaurant-category">Category</p>
			                    <p id="restaurant-category">By: Username</p>
			                  </div>
			                  <div class="col-20">
			                  	<button class="button button-small button-outline">
									Unfollow
								</button>
			                  </div>
			                </div>
			              </a>
			            </div>
	                </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
