<ion-view view-title="Le Marche St. George">
	<ion-nav-bar ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left icon-white" ng-click="goBack()"></a>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
	        <button class="button" style="border:none;" ng-click="addToFavourites()" >
	            <i class="{{ favouriteIcon }}"></i>
	        </button>
	    </ion-nav-buttons>
    </ion-nav-bar>

    <div class="tabs-striped tabs-top tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item" href="#/dash/list/details">
                Info
            </a>
            <a class="tab-item active" href="#/dash/list/instagram">
                Instagran
            </a>
            <a class="tab-item" href="#/dash/list/reviews">
                Reviews
            </a>
        </div>
    </div>

	<ion-content class="padding">
	    <!-- <div class="item item-image" ng-repeat="image in instagram.response.photos.items" style="width:50%; height:auto; display:inline-block;"> -->
	    <div class="list card" ng-repeat="photo in photos">
			<div class="item item-image">
				<img src="{{ photo.image }}"/>
			</div>
			<div ng-if="photo.caption != null" class="item item-body">
				{{ photo.caption }}
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" style="text-align:left; padding-left: 16px;">
			      	<i class="icon ion-spoon"></i>
			      	{{ photo.likes }}
			    </a>
			    <a class="tab-item" style="text-align:right; padding-right: 16px;">
			      	{{ photo.source }}
			    </a>
			</div>
		</div>
		<!-- div class="item item-image" ng-repeat="image in instagram.response.photos.items">
	        <div style="text-align:center;">
	            <img src="{{image.prefix}}500x500{{image.suffix}}"/>
	        </div>
	    </div> -->
	</ion-content>
</ion-view>
