<ion-view view-title="{{ restaurantDetails.name }}">
	<ion-nav-bar class="bar-title-white" darken back-img="{{restaurantDetails.bestPhoto.prefix + '500x500' + restaurantDetails.bestPhoto.suffix || 'img/userBackground_placeholder.jpg'}}" to-child ng-controller="NavCtrl">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left icon-white" ng-click="goBack()"></a>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
			<a class="button button-icon button-clear icon-white" 
			   ng-class="{'ion-ios-star': isFavourite, 'ion-ios-star-outline': !isFavourite}"
			   ng-click="toggleFavourite(restuarant.id)">
			</a>
	    </ion-nav-buttons>
    </ion-nav-bar>

    <div class="tabs-striped tabs-top tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item" href="#/dash/list/details">
                Info
            </a>
            <a class="tab-item active" href="#/dash/list/instagram">
                Instagram
            </a>
            <a class="tab-item" href="#/dash/list/reviews">
                Reviews
            </a>
        </div>
    </div>

	<ion-content style="margin-top: 42px;">
	    <div class="list" ng-repeat="pic in instagramImages" style="margin-bottom: 0; padding-bottom: 0;">
			<div class="item item-image">
				<img src="{{ pic.images.standard_resolution.url }}"/>
			</div>
			<div ng-if="pic.caption != null" class="item item-body">
				{{ pic.caption.text }}
			</div>
		</div>
	</ion-content>
</ion-view>
