<ion-view view-title="Le Marche St. George">
	<ion-nav-bar class="background-tab bar-title-white" ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left icon-white" ng-click="goBack()"></a>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
	        <button class="button" style="border:none;" ng-click="addToFavourites()" >
	            <i class="{{ favouriteIcon }}"></i>
	        </button>
	    </ion-nav-buttons>
    </ion-nav-bar>

    <div class="tabs-striped tabs-top tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item" href="#/dash/list/details">
                Info
            </a>
            <a class="tab-item active" href="#/dash/list/instagram">
                Instagran
            </a>
            <a class="tab-item" href="#/dash/list/reviews">
                Reviews
            </a>
        </div>
    </div>

	<ion-content class="padding">
	    <div class="list card" ng-repeat="pic in instagramImages">
			<div class="item item-image">
				<img src="{{ pic.images.standard_resolution.url }}"/>
			</div>
			<div ng-if="pic.caption != null" class="item item-body">
				{{ pic.caption.text }}
			</div>
		</div>
	</ion-content>
</ion-view>
