<ion-view title="">
  <ion-nav-bar ng-controller="NavCtrl">
    <!-- <ion-nav-buttons side="right"> 
      <button class="button button-clear no-animation" ng-click="goToDashView()">
        Lets Eat!
      </button>
    </ion-nav-buttons> -->
  </ion-nav-bar>
  <ion-content padding="true" scroll="false" class="text-centered">
    <ion-slide-box on-slide-changed="slideChanged(index)" style="height: 85%;">
      <ion-slide>
        <h4>Thank you for testing Eat.</h4>
        <br/>
        <p>
          We are currently still testing and you may find a a couple of worms in this apple!
        </p>
        <p>
          Don't worry we're working hard to bring you the best experience possible!
        </p>
        <p>
          In the mean time, discover, decide, and devour some of the best bites in town!
        </p>
        <br/>
        <h3>Swipe to start</h3>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/intro1.png" class="intro-img">
        </div>
        <br/>
        <p>
          Swipe to see more 
          <br/>
          restaurant recommendations!
        </p>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/intro2.png" class="intro-img">
        </div>
        <br/>
        <p>
          Tap on the card to find out
          <br/>
          more about the restaurant
        </p>
      </ion-slide>
      <ion-slide>
        <di>
          <img src="img/intro3.png" class="intro-img">
        </div>
        <br/>
        <br/>
        <p>
          You can get info on the restaurant, check out
          <br/>
          Instagram photos, and read reviews
        </p>
      </ion-slide>
      <ion-slide>
        <di>
          <img src="img/intro4.png" class="intro-img">
        </div>
        <br/>
        <br/>
        <p>
          Oh, by the way, you can save the restaurant
          <br/>
          if you want to check it out later!
        </p>
      </ion-slide>
    </ion-slide-box>
    <button class="button button-block button-assertive orange search-button" ng-click="goToDashView()">
      Let's eat!
    </button>
  </ion-content>
</ion-view>