<ion-view title="">
  <ion-nav-bar ng-controller="NavCtrl">
  </ion-nav-bar>
  <ion-content padding="true" scroll="false" class="text-centered">
    <ion-slide-box on-slide-changed="slideChanged(index)" style="height: 85%;">
      <ion-slide>
        <!-- image here -->
        <h4>Welcome to Kiwii!</h4>
        <p>
          There are billions of restaurants, cafes, and recipes to discover on Kiwii.
          You can now discover, decide, and devour some of the best bites in town!
        </p>
        <h3>Swipe to start</h3>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/intro1.png" class="intro-img">
        </div>
        <br/>
        <p>
          Swipe to see more 
          <br/>
          restaurant recommendations!
        </p>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/intro2.png" class="intro-img">
        </div>
        <br/>
        <p>
          Tap on the card to find out
          <br/>
          more about the restaurant
        </p>
      </ion-slide>
      <ion-slide>
        <di>
          <img src="img/intro3.png" class="intro-img">
        </div>
        <br/>
        <br/>
        <p>
          You can get info on the restaurant, check out
          <br/>
          Instagram photos, and read reviews
        </p>
      </ion-slide>
      <ion-slide>
        <di>
          <img src="img/intro4.png" class="intro-img">
        </div>
        <br/>
        <br/>
        <p>
          Oh, by the way, you can save the restaurant
          <br/>
          if you want to check it out later!
        </p>
      </ion-slide>
    </ion-slide-box>
    <button class="button button-block button-assertive orange search-button" ng-click="goToDashView()">
      Let's eat!
    </button>
  </ion-content>
</ion-view>