<ion-view view-title="Photo">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="cards-container" padding="true">

    <div class="restaurant-card-container">
      <div class="restaurant-card-header">
        <div class="text-minor">{{restaurantData.category}}</div>
        <div class="text-minor"
             ng-if="restaurantData.rating">
          <i class="icon ion-star text-orange"></i>
          {{restaurantData.rating}}/10
        </div>
      </div>
      <div class="restaurant-card-image" back-img="{{ photoData.photo._url }}"></div>
      <div class="restaurant-card-details">
        <div class="row">
          <div id="restaurant-name" 
               ng-bind-html="restaurantData.name | unsafe" 
               ng-click="restaurantDetails(restaurantData.foursquareId)"
               class="text-orange" 
               style="font-weight: bold;"></div>
          <!-- <span class="text-minor" ng-if="!restaurant.hours.isOpen" style="margin-left: 4px;">Closed</span> -->
        </div>
        <div class="text-minor" style="padding: 5px;">
          {{ photoData.description }}
        </div>
        <div class="footer" style="margin-top: 4px;">
          <div class="attribution">
            <img ng-src="{{ currentUser.fbPicture || './img/foursquare-logomark.png' }}" style="border-radius: 6%;"/>
          </div>
          <div class="action text-minor"
               ng-if="restaurantData.reservations && restaurantData.reservations.url"
               ng-click="$event.stopPropagation(); openWebsite(restaurantData.reservations.url);">
            <i class="icon ion-calendar assertive"></i>
            <div class="label">
              Reserve
            </div>
          </div>
          <!-- <div class="action text-minor">
            <i class="icon ion-android-car assertive"></i>
            <div class="label">
              {{distanceBetweenRestaurant()}} km
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>