<ion-view view-title="Photo">
  <ion-nav-bar ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-bouncing="false">
    <div class="list card">

      <div class="item item-image">
        <img src="{{ photoData.photo.url }}">
      </div>

      <div class="item item-avatar">
        <img ng-src="{{currentUser.fbPicture || 'img/user_placeholder.png'}}" />
        <h2>Alexander Nguyen</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <p>
          {{ photoData.description }}
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>