<ion-view view-title="{{ userData.handle || 'Profile' }}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" 
         ng-click="goBack()"
         ng-if="showBackButton"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" style="top:none; bottom: none;">
      <button class="button button-clear icon-white" ng-if="!showBackButton" ng-click="logOut()">
        Sign out
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-bouncing="false" ng-controller="ProfileCtrl">

    <nav mfb-menu position="br" effect="zoomin" label="Actions"
         active-icon="ion-plus-round" resting-icon="ion-plus-round"
         toggling-method="click">
      <button mfb-button icon="ion-ios-list" label="Create List"
              ng-click="createList()"></button>
      <button mfb-button icon="ion-android-list" label="Create Card" 
              ui-sref="tab.images()" ></button>
    </nav>

    <ion-tabs class="tabs-light">

      <ion-tab title="Lists">
        <ion-content> 

          <ion-refresher on-refresh="doRefresh()"></ion-refresher>

          <div class="profile-top-container">
            <div class="row" style="padding: 10px 10px 0 10px;">
              <div class="col col-25">
                <img class="profile-avatar" ng-src="{{userData.fbPicture || 'img/user_placeholder.png'}}">
              </div>
              <div class="col col-65">
                <p class="title text-strong-grey">
                  <strong>{{ userData.firstname }} {{ userData.lastname }}</strong>
                  <i ng-if="userData.verified" class="icon ion-checkmark-circled positive"></i>
                </p>
                <p class="text-light-grey" ng-if="userData.handle">@{{ userData.handle }}</p>
                <!-- <p class="text-light-grey">www.website.com</p> -->
              </div>
            </div>
            <div class="row" style="padding: 0 12px; border-bottom: #CCCCCC 2px solid; border-top: #CCCCCC 2px solid;">
              <div class="col col-25">
                <div class="title text-strong-grey"><strong>{{ userListCount || '0'}}</strong></div>
                <div class="text-light-grey">Lists</div>
              </div>
              <div class="col col-25">
                <div class="title text-strong-grey"><strong>{{ userCardsCount || '0'}}</strong></div>
                <div class="text-light-grey">Cards</div>
              </div>
              <div class="col col-25" ng-click="viewFollowers()">
                <div class="title text-strong-grey"><strong>{{ followerCount || '0'}}</strong></div>
                <div class="text-light-grey">Followers</div>
              </div>
              <div class="col col-25" ng-click="viewFollowing()">
                <div class="title text-strong-grey"><strong>{{ followingCount || '0'}}</strong></div>
                <div class="text-light-grey">Following</div>
              </div>
            </div>
          </div>

          <div class="list list-inset" 
               style="margin-top: 0px;">
            <!-- User created lists -->
            <div class="list card"
                 ng-repeat="userList in userLists" 
                 style="margin-left: 2px; margin-right: 2px;">
              <a class="item item-thumbnail-left" ng-click="listDetails(userList)">
                <img ng-src="{{userList.attributes.thumbnailUrl || 'http://placehold.it/95x95?text=Kiwii'}}" width="100%" height="100%">
                <div class="row row-center">
                  <div class="col-90">
                    <p id="restaurant-name"><strong>{{userList.attributes.name}}</strong></p>
                    <p id="restaurant-category">{{userList.attributes.category}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </ion-content> 
      </ion-tab>

      <ion-tab title="Cards">
        <ion-content> 

          <ion-refresher on-refresh="doRefresh()"></ion-refresher>
          
          <div class="profile-top-container">
            <div class="row" style="padding: 10px 10px 0 10px;">
              <div class="col col-25">
                <img class="profile-avatar" ng-src="{{userData.fbPicture || 'img/user_placeholder.png'}}">
              </div>
              <div class="col col-65">
                <p class="title text-strong-grey">
                  <strong>{{ userData.firstname }} {{ userData.lastname }}</strong>
                  <i ng-if="userData.verified" class="icon ion-checkmark-circled positive"></i>
                </p>
                <p class="text-light-grey" ng-if="userData.handle">@{{ userData.handle }}</p>
                <!-- <p class="text-light-grey">www.website.com</p> -->
              </div>
              <!-- <div class="col col-10 text-right">
                <i class="icon ion-social-instagram-outline connect-ig"></i>
              </div> -->
            </div>
            <div class="row" style="padding: 0 10px 10px 10px;">
              <div class="col col-100 text-light-grey">
                [description placeholder]
              </div>
            </div>
            <div class="row" style="padding: 0 12px; border-bottom: #CCCCCC 2px solid; border-top: #CCCCCC 2px solid;">
              <div class="col col-25">
                <div class="title text-strong-grey"><strong>{{ userListCount || '0'}}</strong></div>
                <div class="text-light-grey">Lists</div>
              </div>
              <div class="col col-25">
                <div class="title text-strong-grey"><strong>{{ userCardsCount || '0'}}</strong></div>
                <div class="text-light-grey">Cards</div>
              </div>
              <div class="col col-25" ui-sref="tab.followers">
                <div class="title text-strong-grey"><strong>{{ followerCount || '0'}}</strong></div>
                <div class="text-light-grey">Followers</div>
              </div>
              <div class="col col-25" ui-sref="tab.following">
                <div class="title text-strong-grey"><strong>{{ followingCount || '0'}}</strong></div>
                <div class="text-light-grey">Following</div>
              </div>
            </div>
          </div>

          <div ng-if="!photos.length" class="text-centered">
            <div class="save-later-placeholder">
              <img src="img/restaurant_placeholder.gif">
            </div>
            <p>Start uploading cards!</p>
          </div>

          <div collection-repeat="card in userCards" style="padding:2px 1px;" class="col col-25">
            <a ng-click="photoDetails(card)">
              <div style="background-image:url({{card.photos[0].photo._url}});
                          background-repeat:no-repeat;
                          background-size:contain; 
                          background-position:center;
                          width:100%;
                          height:0;
                          padding-top:100%"> 
              </div>
            </a>
          </div>

        </ion-content> 
      </ion-tab>

    </ion-tabs>
  </ion-content>
</ion-view>