<ion-view view-title="">
  <ion-nav-bar ng-controller="NavCtrl" ng-class="{'main-app-nav': true, 'bar-light': true}">
    <ion-nav-buttons side="right" style="top:none; bottom: none;">
      <button class="button button-clear text-button icon-white" ng-click="logOut()">
        Sign out
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-bouncing="false" ng-controller="ProfileCtrl" style="top: 0 !important;">
    <ion-tabs class="tabs-light">

      <ion-tab title="Lists">
        <ion-content> 

          <div class="profile-background blur-image" darken back-img="{{currentUser.fbPicture || 'img/userBackground_placeholder.jpg'}}"> </div>
          <div class="profile-top-container">
            <div class="padding-vertical">
              <img class="profile-avatar" ng-src="{{currentUser.fbPicture || 'img/user_placeholder.png'}}">
            </div>
            <p class="title padding-vertical">{{ currentUser.firstname }} {{ currentUser.lastname }}</p>
          </div>

          <div class="list list-inset">
            <p class="text-orange"><strong>Saved for later</strong></p>

            <div ng-if="!favouritesList.length" class="text-centered">
              <div class="save-later-placeholder">
                <img src="img/restaurant_placeholder.gif">
              </div>
              <p>Use the star icon to save restaurants <br/> you want to check out later!</p>
            </div>
            <div class="list card" ng-repeat="restaurant in favouritesList">
              <div class="item item-thumbnail-left">
                <img ng-src="{{restaurant.imageUrl || 'img/image_placeholder.gif'}}" width="100%" height="100%">
                <div class="row row-center">
                  <div ng-click="goToDetails(restaurant)" class="col-90">
                    <p id="restaurant-name"><strong>{{restaurant.name}}</strong></p>
                    <p id="restaurant-category">{{restaurant.category}}</p>
                    <p id="restaurant-rating" ng-if="restaurant.rating">{{restaurant.rating}}/10</p>
                  </div>
                  <div class="col-10">
                    <h1 ng-click="removeRestaurant($index, restaurant)" class="icon ion-ios-close-empty"></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content> 
      </ion-tab>

      <ion-tab title="Photos">
        <ion-content> 
          
          <div class="profile-background blur-image" darken back-img="{{currentUser.fbPicture || 'img/userBackground_placeholder.jpg'}}"> </div>
          <div class="profile-top-container">
            <div class="padding-vertical">
              <img class="profile-avatar" ng-src="{{currentUser.fbPicture || 'img/user_placeholder.png'}}">
            </div>
            <p class="title padding-vertical">{{ currentUser.firstname }} {{ currentUser.lastname }}</p>
          </div>

          <div ng-if="!photos.length" class="text-centered">
            <div class="save-later-placeholder">
              <img src="img/restaurant_placeholder.gif">
            </div>
            <p>Start uploading photos!</p>
          </div>

          <div collection-repeat="photo in photos" style="padding:0px;" class="col col-50"> 
            <a ng-click="photoDetails(photo)">
              <div style="background-image:url({{photo.photo.url}});
                          background-repeat:no-repeat;
                          background-size:contain; 
                          background-position:center;
                          width:100%;
                          height:0;
                          padding-top:100%"> 
              </div>
            </a>
          </div>

        </ion-content> 
      </ion-tab>

    </ion-tabs>
  </ion-content>
</ion-view>