<div class="restaurant-card-container">
  <div class="restaurant-card-header">
    <div class="text-minor">{{restaurant.category}}</div>
    <div class="text-minor"
         ng-if="restaurant.rating">
      <i class="icon ion-star text-orange"></i>
      {{restaurant.rating}}/10
    </div>
  </div>
  <div class="restaurant-card-image" back-img="{{restaurant.imageUrl}}"></div>
  <div class="restaurant-card-details">
    <div class="row">
      <div id="restaurant-name" ng-bind-html="restaurant.name | unsafe" style="font-weight: bold;"></div>
      <!-- <span class="text-minor" ng-if="!restaurant.hours.isOpen" style="margin-left: 4px;">Closed</span> -->
    </div>
    <div class="row text-minor">
      {{restaurant.tips[0].text}}
    </div>
    <div class="footer">
      <div class="attribution">
        <img src="./img/foursquare-logomark.png"/>
      </div>
      <div class="action text-minor">
        <i class="icon ion-android-car assertive"></i>
        <div class="label">
          42 min
        </div>
      </div>
      <div class="action text-minor"
           ng-if="restaurant.reservations && restaurant.reservations.url"
           ng-click="$event.stopPropagation(); openWebsite(restaurant.reservations.url);">
        <i class="icon ion-calendar assertive"></i>
        <div class="label">
          Reserve
        </div>
      </div>
    </div>
  </div>
</div>
