<div class="restaurant-card-container">
  <div class="restaurant-card-header">
    <div class="text-minor">{{restaurant.category}}</div>
    <div class="text-minor"
         ng-if="restaurant.rating">
      <i class="icon ion-star text-orange"></i>
      {{restaurant.rating}}/10
    </div>
  </div>
  <div class="restaurant-card-image" back-img="{{restaurant.imageUrl}}"></div>
  <div class="restaurant-card-details">
    <div>
      <div id="restaurant-name" ng-bind-html="restaurant.name | unsafe" style="font-weight: bold;"></div>
      <b class="subtext" ng-if="!restaurant.hours.isOpen">Closed</b>
    </div>
    <div class="description">
      {{restaurant.tips[0].text}}
    </div>
    <div class="footer">
      <div class="attribution">
        <img src="../img/foursquare-logomark.png"/>
      </div>
      <div class="action">
        <i class="icon ion-android-car"></i>
        <div class="label">
          42 min
        </div>
      </div>
      <div class="action"
        ng-if="restaurant.reservations && restaurant.reservations.url"
        ng-click="$event.stopPropagation(); openWebsite(restaurant.reservations.url);">
        <i class="icon ion-calendar"></i>
        <div>
          Reserve
        </div>
      </div>
    </div>
  </div>
</div>
