<ion-view title="">
	<ion-content scroll="false">
			<div class="text-center padding-horizontal" style="position: relative; top: 10vh;">
				<img src="img/logo.png" style="height: auto; width: 50%;">
				<h4>Login to discover new restaurants and cafes from your friends.</h4>
			</div>
			<div class="start-text-container">
				<button class="button button-positive"
						ng-click="facebookLogin()">
				  Login with Facebook
				</button>
				<!-- <button class="button button-block button-assertive" 
						ng-click="goRegister()">
					Register with email
				</button> -->
				<!-- <button class="button button-primary button-block" 
						ng-click="checkForUpdates()">
		        	Check for updates
		      	</button>
		      	<button class="button button-stable button-block button-pulse" 
		      			ng-if="hasUpdate" 
		      			ng-click="doUpdate()">
		        	Download update
		      	</button> -->
				<!-- <p class="login-text">Already a user? <a href="#/login"><strong>Log in</strong></a></p> -->
			</div>
	</ion-content>
</ion-view>
