<ion-view title="">
	<ion-nav-bar ng-controller="NavCtrl" class="bar-light">
	    <ion-nav-buttons side="right" style="top:none; bottom: none;">
	      	<button class="button button-clear" ng-click="createHandle()">
	        	Done
	      	</button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content>

		<div class="list card">
			<div class="item item-body text-centered">
			    <img class="profile-avatar" 
			    	 ng-src="{{ currentUser.fbPicture || 'http://placehold.it/100x100?text=Kiwii'}}">
			</div>
			<ion-label class="item item-input">
		    	<i class="icon ion-ios-email placeholder-icon" style="font-size: 24px;"></i>
		    	<input type="text" 
		    		   value="{{ currentUser.email }}" 
		    		   placeholder="Email" 
		    		   disabled 
		    		   style="background-color: transparent;">
		  	</ion-label>
			<ion-label class="item item-input">
		    	<i class="icon ion-person placeholder-icon" style="font-size: 24px;"></i>
		    	<input type="text" 
		    		   value="{{ currentUser.firstname }} {{ currentUser.lastname }}" 
		    		   placeholder="Name" 
		    		   disabled 
		    		   style="background-color: transparent;">
		  	</ion-label>
		  	<ion-label class="item item-input">
		    	<i class="icon ion-at placeholder-icon" style="font-size: 24px;"></i>
		    	<input type="text" placeholder="Create a username" ng-model="socialHandle.handle">
		  	</ion-label>
		</div>

	</ion-content>
</ion-view>