<ion-view title="">
	<ion-nav-bar ng-controller="NavCtrl">
		<ion-nav-buttons side="left">
	        <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
	    </ion-nav-buttons>
  	</ion-nav-bar>
  	<ion-content padding="true" scroll="false">
	  	<form ng-submit="emailRegister()">
	  		<div class="padding">
	  			<div class="input-field">
			    	<input type="text" placeholder="Username" ng-model="registerObj.username" required>
			  	</div>
			  	<div class="input-field">
			    	<input type="text" placeholder="First Name" ng-model="registerObj.firstname" required>
			  	</div>
			  	<div class="input-field">
			    	<input type="text" placeholder="Last Name" ng-model="registerObj.lastname" required>
			  	</div>
			  	<div class="input-field">
			    	<input type="email" placeholder="Email" ng-model="registerObj.email" required>
			  	</div>
			  	<div class="input-field">
			    	<input type="password" placeholder="Password" ng-model="registerObj.password">
			  	</div>
			  	<br/>
			  	<button class="button button-block button-assertive" type="submit">Sign up</button>
			</div>
	  	</form>
	</ion-content>
</ion-view>
