.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

td-cards {
  display: block;
  position: relative;
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

td-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 5px 2px rgba(222, 222, 222, 0.6);

  .td-card {
    height: 100%;
  }

  &:hover {
    cursor: -webkit-grab;
  }
}

.cards-hint {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-hint > div {
  font-size: 1.2em;
  width: 20vw;
}

.message-icon {
  font-size: 10em;
}