$card-width: 100%;
$card-height: 100%;
$card-bottom-height: 30%;

.cards-container {
  background: #FFFFFF;
}

.restaurant-card-container {
  //position: absolute;
  height: $card-height;
  width: $card-width;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

td-cards {
  display: block;
  position: relative;
  width: 90vw;
  height: 67vh;
  //min-width: 300px;
  //min-height: 420px;
  //max-height: 700px;
  //max-width: 550px;
  margin: 0 auto;
}

.td-cards {
  height: 100%;
}

.swipe-card {
  height: 100% !important;
}

td-card {
  position: absolute;
  top: 14px;
  width: $card-width;
  height: $card-height;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgba(222, 222, 222, 0.6);

  &:hover {
    cursor: -webkit-grab;
  }
}

.restaurant-card-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.restaurant-card-header > .text-minor {
  font-size: 1.2em;
}

.restaurant-card-image {
  background-size: cover;
  position: absolute;
  width: $card-width;
  height: 100%;
}

.restaurant-card-details-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.restaurant-card-description {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px -16px 10px -6 rgba(0, 0, 0, 0.4);
  bottom: 0;
  background: #fff;
  height: $card-bottom-height;
  display: table;

  span {
    //position: absolute;
    right: 0;
  }

  .platform-browser & {
    font-size: 14px;
  }
}

.restaurant-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  font-size: 1.5em;
}

.restaurant-actions > span {
  text-align: center;
  margin: auto;
}

.cards-hint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.cards-hint > div {
  font-size: 1.2em;
  width: 20vw;
}

.messageIcon {
  font-size: 10em;
}

.cuisine-type-title {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}