.dash-feature {
  height: 30vh;
}

.dash-loading-list {
  display: flex;
  margin: auto;
  align-items: center;
  height: 160px;
}

.micro-card-list {
  overflow: scroll;
  white-space: nowrap;
}

.micro-card-list > .scroll {
  display: flex;
  flex-direction: row;
}

.micro-card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 160px;
  margin: 0 5px;
}

.micro-card > img {
  margin-bottom: 5px;
  height: 100px;
  width: 100px;
  border-radius: 12px;
}

.micro-card > .micro-card-desc {
  padding: 3px 3px;
  max-height: 50px;
}

.micro-card > .micro-card-desc > div {
  font-size: 9pt;
  line-height: 100%;
  margin-bottom: 4.5pt;

  /* Show only a maximum 2 lines in restaurant names: */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.micro-card > .micro-card-desc > div.type {
  color: grey;
}