/*.slider { 
	height: 100%;
}

.scroll { 
	height: 100% 
}

.slider-pager {
	top: 0;
	bottom: initial;
}*/

.details-container {
	position: absolute;
	width: 100%;
	top: 50vh;

	.details-text {
		margin: 24px;
	}
}

.popover.soft {
  background-color: #f6f6f6;
}

.favourites-message {
  text-align: center;
  color: #4d4d4d;
}

.button.button-soft {
  border-color: #b2b2b2;
  background-color: #e6e6e6;
  color: #898989; }