/* Utility Styles */
.title {
  font-size: 20px;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #FFFFFF;
}

.text-orange {
  color: #ffa300 !important;
}

.text-minor {
  color: #444 !important;
}

.text-strong-grey {
  color: #4D4D4D;
}

.text-light-grey {
  color: #808080;
}

.icon-white {
  color: #FFFFFF !important;
}

.italic { 
  font-style: italic;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none;
}

/*Maps*/
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

/* Start */
.no-padding-container {
  position: absolute; 
  bottom: 0;
  width: 100%;

  button {
    width: 100%;
    height: 15vh;
    font-size: 20px;
  }

  .login-text {
    text-align:center; 
    padding: 20px 0;
  }
}

/* Intro */
.intro-img {
  height: 45vh; 
  width: auto;
}

/* Login / Register*/
.input-field {
  border-bottom: grey 2px solid; 
  margin: 8px 0;
  
  input {
    font-size: 18px;
    width: 100%;
  }
}

#or-line {
  border-bottom: grey 2px solid; 
  position: absolute; 
  width: 95%; bottom: 40%;
}

#or-circle {
  position: absolute; 
  width: 30px; 
  height: 30px; 
  border: 2px solid grey; 
  background-color: #ffffff; 
  border-radius: 50%; 
  text-align: center; 
  padding-top: 2px; 
  bottom: 37.5%; 
  left: 45%;
}

.fb-login-container {
  position: absolute; 
  width: 95%; 
  bottom: 20%;
}

/* Modal */
.shows-modal-title {
  font-size: 21px;
  padding-top: 11px;
  padding-left: 11px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #fff;
  font-weight: bold;
}

.shows-modal-section-title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #888;
  margin-left: 10px;
}

.close-modal-button {
  margin-top: 2px;
  margin-left: -5px;
}

.modal .more-link-options:before {
  color: #343434 !important;
}

.bar-header .button-icon.close-modal-button:before {
  // font-size: 23px !important;
  color: #343434;
}

.modal .bar-header {
  color: #1F1F1F;
  background: $assertive;
  border-bottom: none !important;
}

.text-button {
  font-size: 20px !important;
}

.liked-shows-modal-content {
  background: #EEE;
  padding-top: 35px;
  padding-bottom: 0px;
}

/* Header */
.bar-header {
  // padding-top: 14px;
  // padding-left: 10px;
  z-index: 10000;
}

.bar-header {
  // height: 60px;
  // position: relative;

  .more-link-options:before {
    line-height: 29px !important;
  }

  .favorites-button {
    margin-left: 6px;
    padding-top: 3px !important;

    &:before {
      font-size: 28px !important;
      line-height: 29px !important;
    }
  }

  .preferences-button {
    padding-top: 3px !important;

    &:before {
      font-size: 26px !important;
      line-height: 29px !important;
    }
  }
}


/*Other*/
.toggle-all-restaurants {
  border: none !important;
  background: transparent;
  padding: 16px 0 16px 0;
  color: #4D4D4D;
  label {
    right: 4px !important; 
  }
}

.user-avatar {
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  border-radius: 40px;

  &:hover {
    cursor: pointer;
  }
}

.user-info-container {
  position: relative;
  /*margin-top: 3px;
  margin-right: 3px;*/
  border: 3px solid #fff;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 5px 1px #999;
  -webkit-box-shadow: 1px 1px 5px 1px #999;
  box-shadow: 1px 1px 5px 1px #999;
}

.user-info-container .regional-flag {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.more-link-options {
  position: absolute;
  right: 5px;
  top: 13px;
  text-align: center;
  width: 32px;
}

.bar-header .button-icon.more-link-options:before {
  // font-size: 35px !important;
  line-height: 38px;
  padding-top: 5px;
}

.user-avatar img {
  max-height: 30px;
  border-radius: 2px;
}

.platform-android, .platform-browser {
  .popover-with-two-items {
    height: 110px !important;
  }

  .popover-with-one-item {
    height: 55px !important;
  }
}

.faded {
  opacity: 0.3 !important;
}

.cuisine-dropdown {
  color: #4D4D4D !important; 
  font-size: 20px !important; 
  font-weight: 200;
  direction: ltr !important; 
  padding: 0 !important; 
  position: relative !important; 
  max-width: 100% !important; 
  width: 100% !important;
}

.location-input {
  padding: 0px;
}

.location-input .current-location-button {
  display: block;
  font-size: 32px;
  text-align: center;
}

/* ion-google-place */
.ion-google-place-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;

  .bar-header {
    background: #FFFFFF;
  }
}

input.ion-google-place[readonly] {
  background-color: transparent;
  cursor: text;
  font-size: 20px;
}

.ion-google-place-search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(144, 144, 144);
  border-width: 1px;
  padding-left: 0;

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #4D4D4D;
    font-weight: 200;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #4D4D4D;
    opacity: 1;
    font-weight: 200;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #4D4D4D;
    opacity: 1;
    font-weight: 200;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #4D4D4D;
    font-weight: 200;
  }
}

/* ion-autocomplete */
.ion-autocomplete-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;

  .bar-header {
    background: #FFFFFF;
  }
}

input.ion-autocomplete[readonly] {
  background-color: transparent;
  cursor: text;
}

.ion-autocomplete-loading-icon {
  padding-left: 10px;
}

#distance-textbox {
  width: 52px;
  text-align: right;
  font-weight: 200;
}

#distance-label {
  border: none;

  h2 {
    font-weight: 200;
    color: #4D4D4D;
  }
}

/*Radio Buttons*/
.item-radio .item-content {
  padding: 0px;
  background: none;
}

.button-bar .button {
  height: 40px;
}

.button-bar > .item-radio.button {
  padding: 0;
  margin-bottom: 0;
}

.item-radio input:checked ~ .item-content {
  /* style the item content when its checked */
  background-color: #EF4E3A;
  color: white;
}

.item-radio .radio-icon {
  display: none;
}

.search-button {
  height: 60px;
}

.background-tab {
  .has-tabs-top {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://irs3.4sqi.net/img/general/width960/34995420_pV3byWlA_f2uIaYtF19OgvvVEjMZBNajPO6uub2tc0w.jpg') no-repeat !important;
    background-size: cover !important;
  }
}

.blur-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}