/* Utility Styles */
.title {
  font-size: 20px;
  padding: 6px 0;
}

.text-centered {
  text-align: center;
}

.icon-white {
  color: #FFFFFF !important;
}

/*Maps*/
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

/* Modal */
.shows-modal-title {
  font-size: 21px;
  padding-top: 11px;
  padding-left: 11px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #fff;
  font-weight: bold;
}

.shows-modal-section-title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #888;
  margin-left: 10px;
}

.close-modal-button {
  margin-top: 2px;
  margin-left: -5px;
}

.modal .more-link-options:before {
  color: #343434 !important;
}

.bar-header .button-icon.close-modal-button:before {
  font-size: 23px !important;
  color: #343434;
}

.modal .bar-header {
  color: #1F1F1F;
  background: #515151;
  border-bottom: none !important;
}

.text-button {
  font-size: 20px !important;
}

.liked-shows-modal-content {
  background: #EEE;
  padding-top: 35px;
  padding-bottom: 0px;
}

/* Header */
.bar-header {
  padding-top: 14px;
  padding-left: 10px;
  z-index: 10000;
}

.bar-header {
  height: 60px;
  position: relative;

  .more-link-options:before {
    line-height: 29px !important;
  }

  .favorites-button {
    margin-left: 6px;
    padding-top: 3px !important;

    &:before {
      font-size: 28px !important;
      line-height: 29px !important;
    }
  }

  .preferences-button {
    padding-top: 3px !important;

    &:before {
      font-size: 26px !important;
      line-height: 29px !important;
    }
  }
}

.has-header {
  top: 60px !important;
}

/*Other*/
.toggle-all-restaurants {
  border: none !important;
  background: transparent;
  padding: 16px 0 16px 0;
  label {
    right: 0 !important; 
  }
}

.user-avatar {
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  border-radius: 40px;

  &:hover {
    cursor: pointer;
  }
}

.user-info-container {
  position: absolute;
  right: 10px;
}

.user-info-container .regional-flag {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.more-link-options {
  position: absolute;
  right: 5px;
  top: 13px;
  text-align: center;
  width: 32px;
}

.bar-header .button-icon.more-link-options:before {
  font-size: 35px !important;
  line-height: 38px;
  padding-top: 5px;
}

.user-avatar img {
  max-height: 30px;
  border-radius: 2px;
}

.platform-android, .platform-browser {
  .popover-with-two-items {
    height: 110px !important;
  }

  .popover-with-one-item {
    height: 55px !important;
  }
}

.faded {
  opacity: 0.3 !important;
}

.ion-google-place-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;

  .bar-header {
    background: #FFFFFF;
  }
}

input.ion-google-place[readonly] {
  background-color: transparent;
  cursor: text;
  font-size: 22px;
}

.ion-google-place-search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(144, 144, 144);
  border-width: 1px;
  padding-left: 0;

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000000;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000000;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000000;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000000;
  }
}

#distance-textbox {
  width: 52px;
  text-align: right;
}

#distance-label {
  border: none;
}

/*Radio Buttons*/
.item-radio .item-content {
  padding: 0px;
  background: none;
}

.button-bar .button {
  min-height: 0;
  line-height: 30px;  
}

.button-bar > .item-radio.button {
  padding: 0;
  margin-bottom: 0;
}
.item-radio input:checked ~ .item-content {
  /* style the item content when its checked */
  background-color: #EF4E3A;
  color: white;
}

.item-radio .radio-icon {
  display: none;
}

.search-button {
  height: 60px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.bar-header {
  background: transparent;
}

.background-tab {
  .has-tabs-top {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://irs3.4sqi.net/img/general/width960/34995420_pV3byWlA_f2uIaYtF19OgvvVEjMZBNajPO6uub2tc0w.jpg') no-repeat !important;
    background-size: cover !important;
  }
}

.bar-title-white {
  .title {
    color: #FFFFFF;
  }
}

.blur-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}