.profile-top-container {
  width: 100%;
  top: 0;
}

.profile-avatar {
  border-radius: 6%;
  max-height: 100%;
  max-width: 100%;
}

.save-later-placeholder {
  margin-top: 60px;
  margin-bottom: 30px;

  img {
    width: 120px;
    height: auto;
  }
}

.connect-ig {
  font-size: 22px;
}

.restaurant-name {
  font-size: 16px;
  color: #4D4D4D;
}

.restaurant-category, #restaurant-rating {
  color: #808080;
}
