.profile-avatar {
  border-radius: 50%;
  max-height: 75px;
  max-width: 75px;
}

.save-later-placeholder {
  margin-top: 60px;
  margin-bottom: 30px;

  img {
    width: 120px;
    height: auto;
  }
}

.toggle-all-restaurants {
  li {
    color: #000000;
    border: none !important;
    background: transparent;
    padding: 16px 0 16px 0;
    label {
      right: 0 !important; 
    }
  }
}

.profile-background {
  height: 44vh;
  width: 100%;
  postiion: absolute;
  overflow: hidden;
}
