.profile-top-container {
  text-align: center; 
  position: absolute; 
  width: 100%; 
  top: 10%; 
  color: #FFFFFF;

  .profile-avatar {
    border-radius: 50%;
    max-height: 75px;
    max-width: 75px;
  }
}

.save-later-placeholder {
  margin-top: 60px;
  margin-bottom: 30px;

  img {
    width: 120px;
    height: auto;
  }
}

.profile-background {
  height: 44vh;
  width: 100%;
  postiion: absolute;
  overflow: hidden;
}

#restaurant-name {
  font-size: 16px;
  color: #4D4D4D;
}

#restaurant-category, #restaurant-rating {
  color: #808080;
}
