<ion-view view-title="Discover New Users">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-light">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true">
    <div class="list card">
      <a ng-repeat="user in kiwiiEndorsedUsers" 
         ng-if="user.userObject" 
         ng-click="viewProfile(user.userObject)"
         class="item item-avatar item-button-right">
        <img ng-src="{{ user.fbPicture || 'http://placehold.it/95x95?text=Kiwii'}}">
        <h2 style="margin-top: 10px;">{{user.name}}</h2>
        <button class="button button-small button-outline button-assertive"
                ng-click="followUser(user.userObject, $index)"
                style="margin-top: 10px;">
          Follow
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
