<ion-view view-title="{{ userData.handle || 'Profile' }}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-light">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left"
         ng-click="goBack()"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-if="!showBackButton" ng-click="logOut()">
        Sign out
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-controller="ProfileCtrl">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="profile-top-container">
      <div class="row" style="padding: 10px;">
        <div class="col col-25">
          <img class="profile-avatar" ng-src="{{userData.fbPicture || 'img/user_placeholder.png'}}">
        </div>
        <div class="col col-65">
          <p class="title text-strong-grey">
            <strong>{{ userData.firstname }} {{ userData.lastname }}</strong>
          </p>

          <p class="text-light-grey" ng-if="userData.handle">@{{ userData.handle }}</p>
        </div>
      </div>

    <div ng-if="loading" class="favourite-list-loader">
      <ion-spinner icon="ios"></ion-spinner>
    </div>
    <div ng-if="(!loading && !cards) || (!loading && !cards.length)" class="save-for-later-msg">
      <i class="icon ion-ios-bookmarks-outline" style="font-size: 80px;"></i>
      <br/>
      <span style="font-weight: 400;">Add a restaurant to check out later.</span>
      <br/>
      There are plenty of places you gotta check out. Tap the bookmark in the upper right of any restaurant profile. They will be saved here for you.
    </div>
    <div ng-repeat="card in cards">
      <div ng-click="goToDetails(card)">
        <ion-slide-box show-pager="false" class="profile-slidebox">
          <ion-slide back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'http://placehold.it/200x200'}}">
            <i class="box-remove-button icon ion-close-round light"
              ng-click="removeFromSave(cards, $index)"></i>
          </ion-slide>
        </ion-slide-box>

        <div class="restaurant-card-details">
          <div class="row name">
            <div id="restaurant-name" ng-bind-html="::(card.taggedRestaurant.name | unsafe)" style="font-weight: bold;"></div>
            <div ng-if="::(card.taggedRestaurant.rating)">
              <i class="icon ion-star text-orange"></i>
              {{::card.taggedRestaurant.rating}}/10
              <span ng-if="::(card.taggedRestaurant.ratingCount)">(<i class="icon ion-person text-orange"></i> {{::card.taggedRestaurant.ratingCount}})</span>
            </div>
          </div>
          <div class="status text-minor">
            {{::card.taggedRestaurant.hours.status}}
          </div>
          <div class="status text-minor">
            {{::card.photos[0].description}}
          </div>
          <div class="footer">
            <div class="action text-minor">
              <div class="label">
               {{card.taggedRestaurant.category}}
               <span ng-if="::(card.taggedRestaurant.stats.tipCount)">· {{::card.taggedRestaurant.stats.tipCount}} Reviews</span>
              </div>
            </div>
            <div class="attribution">
              <img ng-src="{{card.author.attributes.fbPicture || './img/foursquare-logomark.png'}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>

