<ion-view view-title="{{ userData.handle || 'Profile' }}">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-light">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left"
         ng-click="goBack()"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-if="!showBackButton" ng-click="logOut()">
        Sign out
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-controller="ProfileCtrl">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="profile-top-container">
      <div class="row" style="padding: 10px;">
        <div class="col col-25">
          <img class="profile-avatar" ng-src="{{userData.fbPicture || 'img/user_placeholder.png'}}">
        </div>
        <div class="col col-65">
          <p class="title text-strong-grey">
            <strong>{{ userData.firstname }} {{ userData.lastname }}</strong>
            <!-- <i ng-if="userData.verified" class="icon ion-checkmark-circled positive"></i> -->
          </p>

          <p class="text-light-grey" ng-if="userData.handle">@{{ userData.handle }}</p>
          <!-- <p class="text-light-grey">www.website.com</p> -->
        </div>
      </div>
      <!-- <div class="row" style="padding: 0 12px; border-bottom: #ddd 2px solid; border-top: #ddd 2px solid; background-color: #f5f5f5;">
        <div class="col col-25">
          <div class="title text-strong-grey"><strong>{{ userListCount || '0'}}</strong></div>
          <div class="text-light-grey">Lists</div>
        </div>
        <div class="col col-25">
          <div class="title text-strong-grey"><strong>{{ userCardsCount || '0'}}</strong></div>
          <div class="text-light-grey">Cards</div>
        </div>
        <div class="col col-25" ng-click="viewFollowers()">
          <div class="title text-strong-grey"><strong>{{ followerCount || '0'}}</strong></div>
          <div class="text-light-grey">Followers</div>
        </div>
        <div class="col col-25" ng-click="viewFollowing()">
          <div class="title text-strong-grey"><strong>{{ followingCount || '0'}}</strong></div>
          <div class="text-light-grey">Following</div>
        </div>
      </div>
    </div> -->

    <div ng-if="!cards || !cards.length" class="save-for-later-msg">
      <i class="icon ion-ios-bookmarks-outline" style="font-size: 80px;"></i>
      <br/>
      <span style="font-weight: 400;">Add a restaurant to check out later.</span>
      <br/>
      There are plenty of places you gotta check out. Tap the bookmark in the upper right of any restaurant profile. They will be saved here for you.
    </div>
    <div ng-repeat="card in cards">
      <div ng-click="goToDetails(card)">
        <ion-slide-box show-pager="false" class="profile-slidebox">
          <ion-slide back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'http://placehold.it/200x200'}}">
            <i class="box-remove-button icon ion-close-round light"
              ng-click="removeFromSave(cards, $index)"></i>
          </ion-slide>
        </ion-slide-box>

        <div class="restaurant-card-details">
          <div class="row name">
            <div id="restaurant-name" ng-bind-html="::(card.taggedRestaurant.name | unsafe)" style="font-weight: bold;"></div>
            <div ng-if="::(card.taggedRestaurant.rating)">
              <i class="icon ion-star text-orange"></i>
              {{::card.taggedRestaurant.rating}}/10
              <span ng-if="::(card.taggedRestaurant.ratingCount)">(<i class="icon ion-person text-orange"></i> {{::card.taggedRestaurant.ratingCount}})</span>
            </div>
          </div>
          <div class="status text-minor">
            {{::card.taggedRestaurant.hours.status}}
          </div>
          <div class="status text-minor">
            {{::card.photos[0].description}}
          </div>
          <div class="footer">
            <div class="action text-minor">
              <div class="label">
               {{card.taggedRestaurant.category}}
               <span ng-if="::(card.taggedRestaurant.stats.tipCount)">· {{::card.taggedRestaurant.stats.tipCount}} Reviews</span>
              </div>
            </div>
            <div class="attribution">
              <img ng-src="{{card.author.attributes.fbPicture || './img/foursquare-logomark.png'}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
      <!-- Slidebox of all user lists  -->
      <!--
          <ion-slide-box show-pager="false" class="dash-feature" ng-repeat="userList in userLists">
            <ion-slide darken-slider
                       back-img="{{userList.attributes.thumbnailUrl || 'https://placehold.it/300x150/33F25A/000000'}}"
                       ng-click="listDetails(userList)">
          <div class="restaurant-card-details">
              <div style="position: absolute;
                          bottom: 0;
                          color: white;
                          padding: 10px;">
                <p style="font-size: 1.8em; font-weight: bold;">{{userList.attributes.name}}</p>
                <p style="font-size: 1.2em">{{userList.attributes.category}}</p>
                <p style="font-size: 1.2em">{{cards.length}} Restaurants</p>
              </div>
            </ion-slide>

            <ion-slide ng-repeat="card in cards"
                       back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'https://placehold.it/300x150/0C79E8/000000?text=No+Image'}}"
                       ng-click="restaurantDetails(card)">
              <div class="restaurant-card-details"
                   style="position: absolute;
                          bottom: 0;
                          box-shadow: none;
                          color: white;
                          background-color: rgba(0,0,0,0.5);">
                <div class="row name">
                  <div id="restaurant-name" style="font-weight: bold;">{{card.taggedRestaurant.name}}</div>
                  <div ng-if="card.taggedRestaurant.rating">
                    <i class="icon ion-star"></i>
                    {{card.taggedRestaurant.rating}}/10
                  </div>
                </div>
                <div class="status">
                  {{card.taggedRestaurant.hours.status}}
                </div>
                <div class="footer">
                  <div class="action">
                    <div class="label">
                      {{card.taggedRestaurant.category}} · 200 Photos · 100 Reviews
                    </div>
                  </div>
                  <div class="attribution">
                    <img ng-src="{{card.author.fbPicture || './img/foursquare-logomark.png'}}"/>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
       -->


      <!-- <ti-segmented-control on-select="segmentChange($index)" style="width: 100%;">
        <ti-segmented-control-button class="button-assertive" style="border-radius: 0; border-top: none; border-left: none; border-right: none; max-height: 50px; line-height: 38px;" title="'Lists'" selected>
        </ti-segmented-control-button>
        <ti-segmented-control-button class="button-assertive" style="border-radius: 0; border-top: none; border-left: none; border-right: none; max-height: 50px; line-height: 38px;" title="'Cards'">
        </ti-segmented-control-button>
      </ti-segmented-control>

      <div ng-if="selectedIndex === 0">
        <ion-slide-box show-pager="false" class="dash-feature" ng-repeat="userList in userLists">
          <ion-slide darken-slider
                     back-img="{{userList.attributes.thumbnailUrl || 'https://placehold.it/300x150/33F25A/000000'}}"
                     ng-click="listDetails(userList)">
            <div style="position: absolute;
                        bottom: 0;
                        color: white;
                        padding: 10px;">
              <p style="font-size: 1.8em; font-weight: bold;">{{userList.attributes.name}}</p>
              <p style="font-size: 1.2em">{{userList.attributes.category}}</p>
              <p style="font-size: 1.2em">{{cards.length}} Restaurants</p>
            </div>
          </ion-slide>

          <ion-slide ng-repeat="card in cards"
                     back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'https://placehold.it/300x150/0C79E8/000000?text=No+Image'}}"
                     ng-click="restaurantDetails(card)">
            <div class="restaurant-card-details"
                 style="position: absolute;
                        bottom: 0;
                        box-shadow: none;
                        color: white;
                        background-color: rgba(0,0,0,0.5);">
              <div class="row name">
                <div id="restaurant-name" style="font-weight: bold;">{{card.taggedRestaurant.name}}</div>
                <div ng-if="card.taggedRestaurant.rating">
                  <i class="icon ion-star"></i>
                  {{card.taggedRestaurant.rating}}/10
                </div>
              </div>
              <div class="status">
                {{card.taggedRestaurant.hours.status}}
              </div>
              <div class="footer">
                <div class="action">
                  <div class="label">
                    {{card.taggedRestaurant.category}} · 200 Photos · 100 Reviews
                  </div>
                </div>
                <div class="attribution">
                  <img ng-src="{{card.author.fbPicture || './img/foursquare-logomark.png'}}"/>
                </div>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>

      <div ng-if="selectedIndex === 1">
        <div ng-if="!photos.length" class="text-centered">
          <div class="save-later-placeholder">
            <img src="img/restaurant_placeholder.gif">
          </div>
          <p>Start uploading cards!</p>
        </div>

        <div ng-repeat="card in userCards">
          <div ng-click="photoDetails(card)" style="border-bottom: 1.5px black solid;">
            <ion-slide-box show-pager="false" class="dash-restaurant">
              <ion-slide back-img="{{card.photos[0].photo._url || 'https://placehold.it/300x150/0C79E8/000000'}}"></ion-slide>
            </ion-slide-box>
            <div class="restaurant-card-details">
              <div class="row name">
                <div id="restaurant-name" style="font-weight: bold;">{{card.taggedRestaurant.attributes.name}}</div>
                <div>
                  <i class="icon ion-star text-orange"></i>
                  {{card.taggedRestaurant.attributes.rating}}/10
                </div>
              </div>
              <div class="status text-minor">
                {{card.photos[0].description}}
              </div>
            </div>
          </div>
        </div>
      </div> -->

