<ion-view view-title="Lists">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-light">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left"
         ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <ion-slide-box show-pager="false" class="dash-feature" ng-repeat="userList in userLists">
      <ion-slide darken-slider 
                 back-img="{{userList.attributes.thumbnailUrl || 'https://placehold.it/300x150/33F25A/000000'}}"
                 ng-click="listDetails(userList)">
        <div style="position: absolute;
                    bottom: 0;
                    color: white;
                    padding: 10px;">
          <p style="font-size: 1.8em; font-weight: bold;">{{userList.attributes.name}}</p>
          <p style="font-size: 1.2em">{{userList.attributes.category}}</p>
          <p style="font-size: 1.2em">{{cards.length}} Restaurants</p>
        </div>
      </ion-slide>

      <ion-slide ng-repeat="card in cards" 
                 back-img="{{card.photos[0].photo.url() || card.taggedRestaurant.imageUrl || 'https://placehold.it/300x150/0C79E8/000000?text=No+Image'}}"
                 ng-click="restaurantDetails(card)">
        <div class="restaurant-card-details" 
             style="position: absolute;
                    bottom: 0;
                    box-shadow: none;
                    color: white;
                    background-color: rgba(0,0,0,0.5);">
          <div class="row name">
            <div id="restaurant-name" style="font-weight: bold;">{{card.taggedRestaurant.name}}</div>
            <div ng-if="card.taggedRestaurant.rating">
              <i class="icon ion-star"></i>
              {{card.taggedRestaurant.rating}}/10
            </div>
          </div>
          <div class="status">
            {{card.taggedRestaurant.hours.status}}
          </div>
          <div class="footer">
            <div class="action">
              <div class="label">
                {{card.taggedRestaurant.category}} · 200 Photos · 100 Reviews
              </div>
            </div>
            <div class="attribution">
              <img ng-src="{{card.author.fbPicture || './img/foursquare-logomark.png'}}"/>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>