<ion-view view-title="Activity Feed">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>

  <ion-content delegate-handle="dash-content">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="list">
      <a class="item item-icon-left item-icon-right text-minor" href="#/tab/discoverUsers">
        <i class="icon ion-person-stalker"></i>
        Discover new users
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <div class="item item-divider" style="min-height: 0;"></div>

      <div class="scroll-list-curtain" ng-if="showLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div ng-repeat="feedItem in newsFeed" ng-if="feedItem.verb != 'list' && feedItem.verb != 'follow' && !showLoading">
        <div class="item item-avatar">
          <img ng-src="{{ feedItem.actor_parse.attributes.fbPicture || 'http://placehold.it/95x95'}}"
               ng-click="viewProfile(feedItem.actor_parse)"
               style="border-radius: 10%;">

          <p ng-click="viewProfile(feedItem.actor_parse)">
            {{ feedItem.actor_parse.attributes.firstname }} {{ feedItem.actor_parse.attributes.lastname }}
          </p>

          <p ng-if="feedItem.verb == 'listUpdate'">
            added
            <span ng-click="$state.go('tab.details', {venueId: feedItem.object_parse.attributes.taggedRestaurant.attributes.foursquareId})"
                  class="text-orange">
              {{ feedItem.object_parse.attributes.taggedRestaurant.attributes.name }}
            </span>
            to
            <span class="text-orange" ng-click="goToList(feedItem.target_parse)">{{ feedItem.target_parse.attributes.name }}</span>
          </p>

          <p ng-if="feedItem.verb == 'list'">
            created a new list: 
            <span class="text-orange" ng-click="goToList(feedItem.object_parse)">
              {{ feedItem.object_parse.attributes.name }}
            </span>
          </p>

          <p ng-if="feedItem.verb == 'card'">
            new card: 
            <span class="text-orange" ng-click="viewRestaurantDetails(feedItem.object_parse)">
              {{ feedItem.object_parse.attributes.taggedRestaurant.attributes.name }}
            </span>
          </p>

          <p style="position: absolute; right: 12px; top: 16px;" am-time-ago="feedItem.time"></p>
        </div>

        <div ng-if="feedItem.verb == 'card' || feedItem.verb == 'listUpdate'" style="border-bottom: 1.5px black solid;">
          <ion-slide-box show-pager="false" class="dash-restaurant">
            <ion-slide back-img="{{feedItem.object_parse.attributes.photos[0].attributes.photo._url || feedItem.object_parse.attributes.taggedRestaurant.attributes.imageUrl || 'http://placehold.it/200x200'}}"></ion-slide>
          </ion-slide-box>
          <div class="restaurant-card-details">
            <div class="row name">
              <div id="restaurant-name" style="font-weight: bold;">
                {{ feedItem.object_parse.attributes.taggedRestaurant.attributes.name }}
              </div>
              <div ng-if="feedItem.object_parse.attributes.taggedRestaurant.attributes.rating">
                <i class="icon ion-star text-orange"></i>
                {{ feedItem.object_parse.attributes.taggedRestaurant.attributes.rating }}/10
              </div>
            </div>

            <div class="status text-minor">
              Open till 10pm
            </div>
            
            <div class="status text-minor" ng-if="feedItem.verb == 'card'">
              {{ feedItem.object_parse.attributes.photos[0].attributes.description }}
            </div>

            <div class="footer">
              <div class="action text-minor">
                <div class="label">
                  Category · 200 Photos · 100 Reviews
                </div>
              </div>
              <div class="attribution" ng-if="feedItem.verb == 'listUpdate'">
                <img ng-src="./img/foursquare-logomark.png"/>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-divider" style="min-height: 0;"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
