<div class="restaurant-card-container">
  <div class="restaurant-card-header">
    <div class="text-minor">{{::restaurant.category}}</div>
    <div class="text-minor">
      <i class="icon ion-android-car assertive"></i>
      {{::distanceBetweenRestaurant()}} km
    </div>
  </div>
  <div class="restaurant-card-image" back-img="{{::restaurant.imageUrl}}">
  </div>
  <div class="action-bar">
    <a class="action-item" ng-if="::(restaurant.contact.phone)" ng-href="tel:{{::restaurant.contact.phone}}" ng-click="$event.stopPropagation();" style="text-decoration: none;">
      <i class="icon ion-ios-telephone"></i>
      <div class="action-label">
        Call
      </div>
    </a>
    <div ng-click="::goToMaps(restaurant.foursquareId); $event.stopPropagation();"
         class="action-item">
      <i class="icon ion-map"></i>
      <div class="action-label">
        Map
      </div>
    </div>
    <div ng-if="::(restaurant.reservations && restaurant.reservations.url)"
         ng-click="::openWebsite(restaurant.reservations.url); $event.stopPropagation();"
         class="action-item">
      <i class="icon ion-calendar"></i>
      <div class="action-label"> 
        Reserve
      </div>
    </div>
    <div ng-if="::(restaurant.menu)"
         ng-click="::openWebsite(restaurant.menu.mobileUrl); $event.stopPropagation();"
         class="action-item">
      <i class="icon ion-ios-list"></i>
      <div class="action-label"> 
        Menu
      </div>
    </div>
    <div ng-click="::goToPhotos(restaurant.foursquareId); $event.stopPropagation();"
         class="action-item">
      <i class="icon ion-images"></i>
      <div class="action-label">
        Photos
      </div>
    </div>
    <div class="action-item">
      <i class="icon ion-heart"></i>
      <div class="action-label">
        Like
      </div>
    </div>
  </div>
  <div class="restaurant-card-details">
    <div class="row name">
      <div id="restaurant-name" ng-bind-html="::(restaurant.name | unsafe)" style="font-weight: bold;"></div>
      <div ng-if="::(restaurant.rating)">
        <i class="icon ion-star text-orange"></i>
        {{::restaurant.rating}}/10
        <span ng-if="::(restaurant.ratingCount)">(<i class="icon ion-person text-orange"></i> {{::restaurant.ratingCount}})</span>
      </div>
      <!-- <span class="text-minor" ng-if="!restaurant.hours.isOpen" style="margin-left: 4px;">Closed</span> -->
    </div>
    <div class="status text-minor">
      {{::restaurant.hours.status}}
    </div>
    <div class="description text-minor">
      {{::restaurant.tips[0].text}}
    </div>
    <div class="footer">
      <div class="action text-minor" ng-if="restaurant.stats.tipCount">
        <div class="label">
         {{restaurant.stats.tipCount}} Reviews
        </div>
      </div>
      <div class="attribution">
        <img ng-src="./img/foursquare-logomark.png"/>
      </div>
    </div>
  </div>
</div>
