<div class="restaurant-card-container">
  <div class="restaurant-card-header">
    <div class="text-minor">{{::restaurant.category}}</div>
    <div class="text-minor">
      <i class="icon ion-android-car assertive"></i>
      {{::distanceBetweenRestaurant()}} km
    </div>
  </div>
  <div class="restaurant-card-image" back-img="{{::restaurant.imageUrl}}">
    <div class="action-bar">
      <div class="action-item">
        <i class="icon ion-ios-telephone"></i>
        <div>
          Call
        </div>
      </div>
      <div ng-click="::goToMaps(restaurant.foursquareId); $event.stopPropagation();"
           class="action-item">
        <i class="icon ion-map"></i>
        <div>
          Directions
        </div>
      </div>
      <div ng-if="::(restaurant.reservations && restaurant.reservations.url)"
           ng-click="::openWebsite(restaurant.reservations.url); $event.stopPropagation();"
           class="action-item">
        <i class="icon ion-calendar"></i>
        <div>
          Reserve
        </div>
      </div>
      <div class="action-item">
        <i class="icon ion-images"></i>
        <div>
          Photos
        </div>
      </div>
      <div class="action-item">
        <i class="icon ion-heart"></i>
        <div>
          Like
        </div>
      </div>
    </div>
  </div>
  <div class="restaurant-card-details">
    <div class="row name">
      <div id="restaurant-name" ng-bind-html="::(restaurant.name | unsafe)" style="font-weight: bold;"></div>
      <div ng-if="::(restaurant.rating)">
        <i class="icon ion-star text-orange"></i>
        {{::restaurant.rating}}/10
      </div>
      <!-- <span class="text-minor" ng-if="!restaurant.hours.isOpen" style="margin-left: 4px;">Closed</span> -->
    </div>
    <div class="status text-minor">
      {{::restaurant.hours.status}}
    </div>
    <div class="description text-minor">
      {{::restaurant.tips[0].text}}
    </div>
    <div class="footer">
      <div class="action text-minor">
        <div class="label">
          200 Photos · 100 Reviews
        </div>
      </div>
      <div class="attribution">
        <img ng-src="./img/foursquare-logomark.png"/>
      </div>
    </div>
  </div>
</div>
