<div class="modal" ng-controller="GlobalCtrl">
  <ion-header-bar class="bar bar-header bar-assertive" style="background-color: #ffa300;">
    <a class="button button-icon button-clear ion-android-close" ng-click="modal.hide()"></a>
    <h1 class="title">Create a Card</h1>
    <a class="button button-icon button-clear" ng-click="postPhoto()">Done</a>
  </ion-header-bar>
  <ion-content scroll="false">
  	<div class="list">
      <div class="item item-image">
        <img ng-if="userPhotos[0].imageData" data-ng-src="{{userPhotos[0].imageData}}">
        <img ng-if="!userPhotos[0].imageData"
             ng-src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Tap+to+Add+Photo&w=200&h=200&txttrack=0?text=Tap to Add Photo"
             ng-click="openAddPhotoActionSheet()">
      </div>

      <label class="item item-input">
        <i class="icon ion-pricetag placeholder-icon"></i>
        <ion-autocomplete ng-model="taggedRestaurant.name"
                          template-url="app/widgets/search_restaurants_popup.html"
                          item-value-key="name"
                          item-view-value-key="name"
                          item-view-value-key="foursquareId"
                          items-method="getRestaurants(query, 'ADDCARD')"
                          items-method-value-key="items"
                          placeholder="Tag Restaurant"
                          items-clicked-method="restaurantsClicked(callback)"
                          select-items-label="Select Restaurant:"/>
      </label>

      <textarea placeholder="Write a description..." 
                style="width: 100%;
                       height: 30vh;
                       padding: 16px;
                       resize: none;" 
                ng-model="userPhotos[0].description"></textarea>
  	</div>
  </ion-content>
</div>