<ion-view cache-view="false" view-title="Photos">
  <ion-nav-bar ng-controller="NavCtrl" class="bar-light">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="details-photos">
      <div ng-repeat="image in instagramImages">
        <img ng-src="{{ image.photo._url || image.photo.url }}" ng-click="showImages($index)"/>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
